%html
  %head
    %title Mail Subscriptions
    %meta(name="layout" content="main")
    %parameter(name="currentMenuItem" value="reports")
      .content-header.is-first.is-subscriptions
        %h2.content-title
          Mail subscriptions
      %form.subscribtions( role="subscriptions" )
        %ul.subscriptions-inputs
          %li.subscriptions-row
            %label
              %g:if( test="${subscritions.weekly}" )
                %input( type="checkbox" name="subscriptions" role="weekly" checked="checked")
              %g:else
                %input( type="checkbox" name="subscriptions" role="weekly")
              Weekly overal report (еженедельная рассылка по общему положению дел)
          %li.subscriptions-row
            %label
              %g:if( test="${subscritions.everyday_rating}" )
                %input( type="checkbox" name="subscriptions" role="everydayRating" checked="checked")
              %g:else
                %input( type="checkbox" name="subscriptions" role="everydayRating" )
              Everyday country rating report (ежедневная рассылка по странам для Лены)
          %li.subscriptions-row
            %label
              %g:if( test="${subscritions.everyday_downloads}" )
                %input( type="checkbox" name="subscriptions" role="everydayDownloads" checked="checked")
              %g:else
                %input( type="checkbox" name="subscriptions" role="everydayDownloads" )
              Everyday downloads report (ежедневная рассылка по загрузкам)
          %li.subscriptions-row.is-submit
            %button.button( type="submit" role="save button" ) Save