@-moz-keyframes header-background { /* line 4, ../../sass/ui/animations.sass */
  0% { background-position-x: 0; }
  /* line 6, ../../sass/ui/animations.sass */
  100% { background-position-x: 111px; } }

@-webkit-keyframes header-background { /* line 4, ../../sass/ui/animations.sass */
  0% { background-position-x: 0; }
  /* line 6, ../../sass/ui/animations.sass */
  100% { background-position-x: 111px; } }

@-o-keyframes header-background { /* line 4, ../../sass/ui/animations.sass */
  0% { background-position-x: 0; }
  /* line 6, ../../sass/ui/animations.sass */
  100% { background-position-x: 111px; } }

@keyframes header-background { /* line 4, ../../sass/ui/animations.sass */
  0% { background-position-x: 0; }
  /* line 6, ../../sass/ui/animations.sass */
  100% { background-position-x: 111px; } }

@-moz-keyframes shake-logout { /* line 10, ../../sass/ui/animations.sass */
  0% { -moz-transform: rotate(0); transform: rotate(0); }
  /* line 12, ../../sass/ui/animations.sass */
  25% { -moz-transform: rotate(-7deg); transform: rotate(-7deg); }
  /* line 14, ../../sass/ui/animations.sass */
  75% { -moz-transform: rotate(7deg); transform: rotate(7deg); }
  /* line 16, ../../sass/ui/animations.sass */
  100% { -moz-transform: rotate(0); transform: rotate(0); } }

@-webkit-keyframes shake-logout { /* line 10, ../../sass/ui/animations.sass */
  0% { -webkit-transform: rotate(0); transform: rotate(0); }
  /* line 12, ../../sass/ui/animations.sass */
  25% { -webkit-transform: rotate(-7deg); transform: rotate(-7deg); }
  /* line 14, ../../sass/ui/animations.sass */
  75% { -webkit-transform: rotate(7deg); transform: rotate(7deg); }
  /* line 16, ../../sass/ui/animations.sass */
  100% { -webkit-transform: rotate(0); transform: rotate(0); } }

@-o-keyframes shake-logout { /* line 10, ../../sass/ui/animations.sass */
  0% { -o-transform: rotate(0); transform: rotate(0); }
  /* line 12, ../../sass/ui/animations.sass */
  25% { -o-transform: rotate(-7deg); transform: rotate(-7deg); }
  /* line 14, ../../sass/ui/animations.sass */
  75% { -o-transform: rotate(7deg); transform: rotate(7deg); }
  /* line 16, ../../sass/ui/animations.sass */
  100% { -o-transform: rotate(0); transform: rotate(0); } }

@keyframes shake-logout { /* line 10, ../../sass/ui/animations.sass */
  0% { transform: rotate(0); }
  /* line 12, ../../sass/ui/animations.sass */
  25% { transform: rotate(-7deg); }
  /* line 14, ../../sass/ui/animations.sass */
  75% { transform: rotate(7deg); }
  /* line 16, ../../sass/ui/animations.sass */
  100% { transform: rotate(0); } }
