/* line 1, ../../../src/stylesheets/ui/base.sass */
body { background: white; font-family: Arial; min-width: 1100px; -webkit-transform: translateZ(0); }

/* line 7, ../../../src/stylesheets/ui/base.sass */
.inner-link { text-decoration: none; color: black; border-bottom: 1px black dashed; }

/* line 12, ../../../src/stylesheets/ui/base.sass */
.templates { display: none; }
