/* line 3, ../../sass/ui/buttons.sass */
.button { background-image: -webkit-linear-gradient(#e0f7be, #98c84e); background-image: -moz-linear-gradient(#e0f7be, #98c84e); background-image: -o-linear-gradient(#e0f7be, #98c84e); background-image: linear-gradient(#e0f7be, #98c84e); text-shadow: white 0 1px 0; border: none; padding: 6px 18px; font-size: 15px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid #a0b089; cursor: pointer; }
/* line 13, ../../sass/ui/buttons.sass */
.button.is-white { background-image: -webkit-linear-gradient(#ffffff, #f5f5f5 50%, #ececec 51%, #ececec); background-image: -moz-linear-gradient(#ffffff, #f5f5f5 50%, #ececec 51%, #ececec); background-image: -o-linear-gradient(#ffffff, #f5f5f5 50%, #ececec 51%, #ececec); background-image: linear-gradient(#ffffff, #f5f5f5 50%, #ececec 51%, #ececec); border-color: #9c9c9c; }
/* line 17, ../../sass/ui/buttons.sass */
.button.is-loading { color: transparent; text-shadow: none; background: #e7f8e4; }
/* line 22, ../../sass/ui/buttons.sass */
.button.is-loading.is-white { background: #f7f7f7; }

/* line 26, ../../sass/ui/buttons.sass */
.candy.is-disabled .candy-text { cursor: pointer; }

/* line 29, ../../sass/ui/buttons.sass */
.candy { display: inline-block; width: 15px; height: 15px; background: url("/images/ui/candy-off.png") no-repeat; }
/* line 35, ../../sass/ui/buttons.sass */
.candy.is-active { background-image: url("/images/ui/candy-on.png"); }
/* line 38, ../../sass/ui/buttons.sass */
.candy.is-with-text { width: auto; color: black; text-decoration: none; padding-left: 20px; }
/* line 44, ../../sass/ui/buttons.sass */
.candy.is-with-text.is-disabled { background-image: url("/images/ui/candy-disabled.png"); cursor: default; }
