/* line 1, ../../../src/stylesheets/ui/colors.sass */
.is-green { color: #078f31; }

/* line 4, ../../../src/stylesheets/ui/colors.sass */
.is-blue { color: #0768ac; }

/* line 7, ../../../src/stylesheets/ui/colors.sass */
.is-orange { color: #de7e0c; }

/* line 10, ../../../src/stylesheets/ui/colors.sass */
.is-purple { color: #b752c8; }
