/* line 1, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker { position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 12px; position: absolute; cursor: default; top: 0; left: 0; display: none; }

/* line 13, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerHeader.is-0 .datepickerGoNext a { display: none; }
/* line 16, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerHeader.is-1 .datepickerGoPrev a { display: none; }

/* line 20, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerContainer { position: absolute; width: 328px; height: 138px; }

/* line 25, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerHidden { display: none; }

/* line 28, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerDoW th { padding: 5px 0; }

/* line 32, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker table { border-collapse: collapse; }
/* line 34, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker a { color: black; text-decoration: none; cursor: default; outline: none; }
/* line 39, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker table td { text-align: right; padding: 0; margin: 0; }
/* line 43, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker th { text-align: center; color: #999999; font-weight: normal; }
/* line 48, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker tbody th { text-align: left; }
/* line 50, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker tbody a { display: block; }

/* line 53, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerDays a { width: 20px; line-height: 16px; height: 16px; padding-right: 2px; }

/* line 59, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerYears a, .datepickerMonths a { width: 44px; line-height: 36px; height: 36px; text-align: center; }

/* line 65, ../../../src/stylesheets/ui/datepicker.sass */
td.datepickerNotInMonth a { color: #666666; }

/* line 70, ../../../src/stylesheets/ui/datepicker.sass */
tbody.datepickerDays td.datepickerSelected { background: #a0d4e6; }
/* line 72, ../../../src/stylesheets/ui/datepicker.sass */
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected { background: #dff0f6; }
/* line 74, ../../../src/stylesheets/ui/datepicker.sass */
tbody.datepickerYears td.datepickerSelected, tbody.datepickerMonths td.datepickerSelected { background: #17384d; }

/* line 78, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker a:hover { color: #1f78ca; }
/* line 80, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker td.datepickerNotInMonth a:hover { color: #1f78ca; }
/* line 82, ../../../src/stylesheets/ui/datepicker.sass */
div.datepicker tbody th { text-align: left; }

/* line 85, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerSpace div { width: 20px; }

/* line 88, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerGoNext a, .datepickerGoPrev a, .datepickerMonth a { text-align: center; height: 20px; line-height: 20px; }

/* line 93, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerGoNext a { float: right; width: 20px; }

/* line 97, ../../../src/stylesheets/ui/datepicker.sass */
.datepickerGoPrev a { float: left; width: 20px; }

/* line 103, ../../../src/stylesheets/ui/datepicker.sass */
table.datepickerViewDays tbody.datepickerMonths, table.datepickerViewDays tbody.datepickerYears { display: none; }
/* line 107, ../../../src/stylesheets/ui/datepicker.sass */
table.datepickerViewMonths tbody.datepickerDays, table.datepickerViewMonths tbody.datepickerYears { display: none; }
/* line 109, ../../../src/stylesheets/ui/datepicker.sass */
table.datepickerViewMonths tr.datepickerDoW { display: none; }
/* line 113, ../../../src/stylesheets/ui/datepicker.sass */
table.datepickerViewYears tbody.datepickerDays, table.datepickerViewYears tbody.datepickerMonths { display: none; }
/* line 115, ../../../src/stylesheets/ui/datepicker.sass */
table.datepickerViewYears tr.datepickerDoW { display: none; }

/* line 120, ../../../src/stylesheets/ui/datepicker.sass */
td.datepickerDisabled a, td.datepickerDisabled.datepickerNotInMonth a, td.datepickerDisabled a:hover { color: #333333; }
/* line 123, ../../../src/stylesheets/ui/datepicker.sass */
td.datepickerSpecial a { background: #770000; }
/* line 125, ../../../src/stylesheets/ui/datepicker.sass */
td.datepickerSpecial.datepickerSelected a { background: #aa0000; }
