/* line 8, ../../sass/ui/flags.sass */
.flag-nowhere, .flag-abkhazia, .flag-ad, .flag-ae, .flag-af, .flag-ag, .flag-ai, .flag-al, .flag-am, .flag-an, .flag-ao, .flag-aq, .flag-ar, .flag-as, .flag-at, .flag-au, .flag-aw, .flag-ax, .flag-az, .flag-ba, .flag-bb, .flag-bd, .flag-be, .flag-bf, .flag-bg, .flag-bh, .flag-bi, .flag-bj, .flag-bl, .flag-bm, .flag-bn, .flag-bo, .flag-br, .flag-bs, .flag-bt, .flag-bv, .flag-bw, .flag-by, .flag-bz, .flag-ca, .flag-cc, .flag-cd, .flag-cf, .flag-cg, .flag-ch, .flag-ci, .flag-ck, .flag-cl, .flag-cm, .flag-cn, .flag-co, .flag-cr, .flag-cu, .flag-cv, .flag-cx, .flag-cy, .flag-cz, .flag-de, .flag-dj, .flag-dk, .flag-dm, .flag-do, .flag-dz, .flag-ec, .flag-ee, .flag-eg, .flag-eh, .flag-er, .flag-es-ce, .flag-es-ml, .flag-es, .flag-et, .flag-eu, .flag-fi, .flag-fj, .flag-fk, .flag-fm, .flag-fo, .flag-fr, .flag-ga, .flag-gb, .flag-gd, .flag-ge, .flag-gf, .flag-gg, .flag-gh, .flag-gi, .flag-gl, .flag-gm, .flag-gn, .flag-gp, .flag-gq, .flag-gr, .flag-gs, .flag-gt, .flag-gu, .flag-gw, .flag-gy, .flag-hk, .flag-hm, .flag-hn, .flag-hr, .flag-ht, .flag-hu, .flag-ic, .flag-id, .flag-ie, .flag-il, .flag-im, .flag-in, .flag-io, .flag-iq, .flag-ir, .flag-is, .flag-it, .flag-je, .flag-jm, .flag-jo, .flag-jp, .flag-ke, .flag-kg, .flag-kh, .flag-ki, .flag-km, .flag-kn, .flag-kosovo, .flag-kp, .flag-kr, .flag-kw, .flag-ky, .flag-kz, .flag-la, .flag-lb, .flag-lc, .flag-li, .flag-lk, .flag-lr, .flag-ls, .flag-lt, .flag-lu, .flag-lv, .flag-ly, .flag-ma, .flag-mc, .flag-md, .flag-me, .flag-mf, .flag-mg, .flag-mh, .flag-mk, .flag-ml, .flag-mm, .flag-mn, .flag-mo, .flag-mp, .flag-mq, .flag-mr, .flag-ms, .flag-mt, .flag-mu, .flag-mv, .flag-mw, .flag-mx, .flag-my, .flag-mz, .flag-na, .flag-nc, .flag-ne, .flag-nf, .flag-ng, .flag-ni, .flag-nkr, .flag-nl, .flag-no, .flag-np, .flag-nr, .flag-nu, .flag-nz, .flag-om, .flag-pa, .flag-pe, .flag-pf, .flag-pg, .flag-ph, .flag-pk, .flag-pl, .flag-pm, .flag-pn, .flag-pr, .flag-ps, .flag-pt, .flag-pw, .flag-py, .flag-qa, .flag-re, .flag-ro, .flag-rs, .flag-ru, .flag-rw, .flag-sa, .flag-sb, .flag-sc, .flag-sd, .flag-se, .flag-sg, .flag-sh, .flag-si, .flag-sj, .flag-sk, .flag-sl, .flag-sm, .flag-sn, .flag-so, .flag-south-ossetia, .flag-sr, .flag-ss, .flag-st, .flag-sv, .flag-sy, .flag-sz, .flag-tc, .flag-td, .flag-tf, .flag-tg, .flag-th, .flag-tj, .flag-tk, .flag-tl, .flag-tm, .flag-tn, .flag-to, .flag-tr, .flag-tt, .flag-tv, .flag-tw, .flag-tz, .flag-ua, .flag-ug, .flag-um, .flag-us, .flag-uy, .flag-uz, .flag-va, .flag-vc, .flag-ve, .flag-vg, .flag-vi, .flag-vn, .flag-vu, .flag-wf, .flag-ws, .flag-ye, .flag-yt, .flag-za, .flag-zm, .flag-zw { background: url("/images/ui/flags.png") no-repeat 0 9px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; position: relative; overflow: hidden; width: 16px; height: 9px; font-size: 0; line-height: 0; margin: 0; padding: 0; }

/* line 30, ../../sass/ui/flags.sass */
.flag-abkhazia { background-position: 0 0px; }

/* line 33, ../../sass/ui/flags.sass */
.flag-ad { background-position: 0 -9px; }

/* line 36, ../../sass/ui/flags.sass */
.flag-ae { background-position: 0 -18px; }

/* line 39, ../../sass/ui/flags.sass */
.flag-af { background-position: 0 -27px; }

/* line 42, ../../sass/ui/flags.sass */
.flag-ag { background-position: 0 -36px; }

/* line 45, ../../sass/ui/flags.sass */
.flag-ai { background-position: 0 -45px; }

/* line 48, ../../sass/ui/flags.sass */
.flag-al { background-position: 0 -54px; }

/* line 51, ../../sass/ui/flags.sass */
.flag-am { background-position: 0 -63px; }

/* line 54, ../../sass/ui/flags.sass */
.flag-an { background-position: 0 -72px; }

/* line 57, ../../sass/ui/flags.sass */
.flag-ao { background-position: 0 -81px; }

/* line 60, ../../sass/ui/flags.sass */
.flag-aq { background-position: 0 -90px; }

/* line 63, ../../sass/ui/flags.sass */
.flag-ar { background-position: 0 -99px; }

/* line 66, ../../sass/ui/flags.sass */
.flag-as { background-position: 0 -108px; }

/* line 69, ../../sass/ui/flags.sass */
.flag-at { background-position: 0 -117px; }

/* line 72, ../../sass/ui/flags.sass */
.flag-au { background-position: 0 -126px; }

/* line 75, ../../sass/ui/flags.sass */
.flag-aw { background-position: 0 -135px; }

/* line 78, ../../sass/ui/flags.sass */
.flag-ax { background-position: 0 -144px; }

/* line 81, ../../sass/ui/flags.sass */
.flag-az { background-position: 0 -153px; }

/* line 84, ../../sass/ui/flags.sass */
.flag-ba { background-position: 0 -162px; }

/* line 87, ../../sass/ui/flags.sass */
.flag-bb { background-position: 0 -171px; }

/* line 90, ../../sass/ui/flags.sass */
.flag-bd { background-position: 0 -180px; }

/* line 93, ../../sass/ui/flags.sass */
.flag-be { background-position: 0 -189px; }

/* line 96, ../../sass/ui/flags.sass */
.flag-bf { background-position: 0 -198px; }

/* line 99, ../../sass/ui/flags.sass */
.flag-bg { background-position: 0 -207px; }

/* line 102, ../../sass/ui/flags.sass */
.flag-bh { background-position: 0 -216px; }

/* line 105, ../../sass/ui/flags.sass */
.flag-bi { background-position: 0 -225px; }

/* line 108, ../../sass/ui/flags.sass */
.flag-bj { background-position: 0 -234px; }

/* line 111, ../../sass/ui/flags.sass */
.flag-bl { background-position: 0 -243px; }

/* line 114, ../../sass/ui/flags.sass */
.flag-bm { background-position: 0 -252px; }

/* line 117, ../../sass/ui/flags.sass */
.flag-bn { background-position: 0 -261px; }

/* line 120, ../../sass/ui/flags.sass */
.flag-bo { background-position: 0 -270px; }

/* line 123, ../../sass/ui/flags.sass */
.flag-br { background-position: 0 -279px; }

/* line 126, ../../sass/ui/flags.sass */
.flag-bs { background-position: 0 -288px; }

/* line 129, ../../sass/ui/flags.sass */
.flag-bt { background-position: 0 -297px; }

/* line 132, ../../sass/ui/flags.sass */
.flag-bv { background-position: 0 -306px; }

/* line 135, ../../sass/ui/flags.sass */
.flag-bw { background-position: 0 -315px; }

/* line 138, ../../sass/ui/flags.sass */
.flag-by { background-position: 0 -324px; }

/* line 141, ../../sass/ui/flags.sass */
.flag-bz { background-position: 0 -333px; }

/* line 144, ../../sass/ui/flags.sass */
.flag-ca { background-position: 0 -342px; }

/* line 147, ../../sass/ui/flags.sass */
.flag-cc { background-position: 0 -351px; }

/* line 150, ../../sass/ui/flags.sass */
.flag-cd { background-position: 0 -360px; }

/* line 153, ../../sass/ui/flags.sass */
.flag-cf { background-position: 0 -369px; }

/* line 156, ../../sass/ui/flags.sass */
.flag-cg { background-position: 0 -378px; }

/* line 159, ../../sass/ui/flags.sass */
.flag-ch { background-position: 0 -387px; }

/* line 162, ../../sass/ui/flags.sass */
.flag-ci { background-position: 0 -396px; }

/* line 165, ../../sass/ui/flags.sass */
.flag-ck { background-position: 0 -405px; }

/* line 168, ../../sass/ui/flags.sass */
.flag-cl { background-position: 0 -414px; }

/* line 171, ../../sass/ui/flags.sass */
.flag-cm { background-position: 0 -423px; }

/* line 174, ../../sass/ui/flags.sass */
.flag-cn { background-position: 0 -432px; }

/* line 177, ../../sass/ui/flags.sass */
.flag-co { background-position: 0 -441px; }

/* line 180, ../../sass/ui/flags.sass */
.flag-cr { background-position: 0 -450px; }

/* line 183, ../../sass/ui/flags.sass */
.flag-cu { background-position: 0 -459px; }

/* line 186, ../../sass/ui/flags.sass */
.flag-cv { background-position: 0 -468px; }

/* line 189, ../../sass/ui/flags.sass */
.flag-cx { background-position: 0 -477px; }

/* line 192, ../../sass/ui/flags.sass */
.flag-cy { background-position: 0 -486px; }

/* line 195, ../../sass/ui/flags.sass */
.flag-cz { background-position: 0 -495px; }

/* line 198, ../../sass/ui/flags.sass */
.flag-de { background-position: 0 -504px; }

/* line 201, ../../sass/ui/flags.sass */
.flag-dj { background-position: 0 -513px; }

/* line 204, ../../sass/ui/flags.sass */
.flag-dk { background-position: 0 -522px; }

/* line 207, ../../sass/ui/flags.sass */
.flag-dm { background-position: 0 -531px; }

/* line 210, ../../sass/ui/flags.sass */
.flag-do { background-position: 0 -540px; }

/* line 213, ../../sass/ui/flags.sass */
.flag-dz { background-position: 0 -549px; }

/* line 216, ../../sass/ui/flags.sass */
.flag-ec { background-position: 0 -558px; }

/* line 219, ../../sass/ui/flags.sass */
.flag-ee { background-position: 0 -567px; }

/* line 222, ../../sass/ui/flags.sass */
.flag-eg { background-position: 0 -576px; }

/* line 225, ../../sass/ui/flags.sass */
.flag-eh { background-position: 0 -585px; }

/* line 228, ../../sass/ui/flags.sass */
.flag-er { background-position: 0 -594px; }

/* line 231, ../../sass/ui/flags.sass */
.flag-es-ce { background-position: 0 -603px; }

/* line 234, ../../sass/ui/flags.sass */
.flag-es-ml { background-position: 0 -612px; }

/* line 237, ../../sass/ui/flags.sass */
.flag-es { background-position: 0 -621px; }

/* line 240, ../../sass/ui/flags.sass */
.flag-et { background-position: 0 -630px; }

/* line 243, ../../sass/ui/flags.sass */
.flag-eu { background-position: 0 -639px; }

/* line 246, ../../sass/ui/flags.sass */
.flag-fi { background-position: 0 -648px; }

/* line 249, ../../sass/ui/flags.sass */
.flag-fj { background-position: 0 -657px; }

/* line 252, ../../sass/ui/flags.sass */
.flag-fk { background-position: 0 -666px; }

/* line 255, ../../sass/ui/flags.sass */
.flag-fm { background-position: 0 -675px; }

/* line 258, ../../sass/ui/flags.sass */
.flag-fo { background-position: 0 -684px; }

/* line 261, ../../sass/ui/flags.sass */
.flag-fr { background-position: 0 -693px; }

/* line 264, ../../sass/ui/flags.sass */
.flag-ga { background-position: 0 -702px; }

/* line 267, ../../sass/ui/flags.sass */
.flag-gb { background-position: 0 -711px; }

/* line 270, ../../sass/ui/flags.sass */
.flag-gd { background-position: 0 -720px; }

/* line 273, ../../sass/ui/flags.sass */
.flag-ge { background-position: 0 -729px; }

/* line 276, ../../sass/ui/flags.sass */
.flag-gf { background-position: 0 -738px; }

/* line 279, ../../sass/ui/flags.sass */
.flag-gg { background-position: 0 -747px; }

/* line 282, ../../sass/ui/flags.sass */
.flag-gh { background-position: 0 -756px; }

/* line 285, ../../sass/ui/flags.sass */
.flag-gi { background-position: 0 -765px; }

/* line 288, ../../sass/ui/flags.sass */
.flag-gl { background-position: 0 -774px; }

/* line 291, ../../sass/ui/flags.sass */
.flag-gm { background-position: 0 -783px; }

/* line 294, ../../sass/ui/flags.sass */
.flag-gn { background-position: 0 -792px; }

/* line 297, ../../sass/ui/flags.sass */
.flag-gp { background-position: 0 -801px; }

/* line 300, ../../sass/ui/flags.sass */
.flag-gq { background-position: 0 -810px; }

/* line 303, ../../sass/ui/flags.sass */
.flag-gr { background-position: 0 -819px; }

/* line 306, ../../sass/ui/flags.sass */
.flag-gs { background-position: 0 -828px; }

/* line 309, ../../sass/ui/flags.sass */
.flag-gt { background-position: 0 -837px; }

/* line 312, ../../sass/ui/flags.sass */
.flag-gu { background-position: 0 -846px; }

/* line 315, ../../sass/ui/flags.sass */
.flag-gw { background-position: 0 -855px; }

/* line 318, ../../sass/ui/flags.sass */
.flag-gy { background-position: 0 -864px; }

/* line 321, ../../sass/ui/flags.sass */
.flag-hk { background-position: 0 -873px; }

/* line 324, ../../sass/ui/flags.sass */
.flag-hm { background-position: 0 -882px; }

/* line 327, ../../sass/ui/flags.sass */
.flag-hn { background-position: 0 -891px; }

/* line 330, ../../sass/ui/flags.sass */
.flag-hr { background-position: 0 -900px; }

/* line 333, ../../sass/ui/flags.sass */
.flag-ht { background-position: 0 -909px; }

/* line 336, ../../sass/ui/flags.sass */
.flag-hu { background-position: 0 -918px; }

/* line 339, ../../sass/ui/flags.sass */
.flag-ic { background-position: 0 -927px; }

/* line 342, ../../sass/ui/flags.sass */
.flag-id { background-position: 0 -936px; }

/* line 345, ../../sass/ui/flags.sass */
.flag-ie { background-position: 0 -945px; }

/* line 348, ../../sass/ui/flags.sass */
.flag-il { background-position: 0 -954px; }

/* line 351, ../../sass/ui/flags.sass */
.flag-im { background-position: 0 -963px; }

/* line 354, ../../sass/ui/flags.sass */
.flag-in { background-position: 0 -972px; }

/* line 357, ../../sass/ui/flags.sass */
.flag-io { background-position: 0 -981px; }

/* line 360, ../../sass/ui/flags.sass */
.flag-iq { background-position: 0 -990px; }

/* line 363, ../../sass/ui/flags.sass */
.flag-ir { background-position: 0 -999px; }

/* line 366, ../../sass/ui/flags.sass */
.flag-is { background-position: 0 -1008px; }

/* line 369, ../../sass/ui/flags.sass */
.flag-it { background-position: 0 -1017px; }

/* line 372, ../../sass/ui/flags.sass */
.flag-je { background-position: 0 -1026px; }

/* line 375, ../../sass/ui/flags.sass */
.flag-jm { background-position: 0 -1035px; }

/* line 378, ../../sass/ui/flags.sass */
.flag-jo { background-position: 0 -1044px; }

/* line 381, ../../sass/ui/flags.sass */
.flag-jp { background-position: 0 -1053px; }

/* line 384, ../../sass/ui/flags.sass */
.flag-ke { background-position: 0 -1062px; }

/* line 387, ../../sass/ui/flags.sass */
.flag-kg { background-position: 0 -1071px; }

/* line 390, ../../sass/ui/flags.sass */
.flag-kh { background-position: 0 -1080px; }

/* line 393, ../../sass/ui/flags.sass */
.flag-ki { background-position: 0 -1089px; }

/* line 396, ../../sass/ui/flags.sass */
.flag-km { background-position: 0 -1098px; }

/* line 399, ../../sass/ui/flags.sass */
.flag-kn { background-position: 0 -1107px; }

/* line 402, ../../sass/ui/flags.sass */
.flag-kosovo { background-position: 0 -1116px; }

/* line 405, ../../sass/ui/flags.sass */
.flag-kp { background-position: 0 -1125px; }

/* line 408, ../../sass/ui/flags.sass */
.flag-kr { background-position: 0 -1134px; }

/* line 411, ../../sass/ui/flags.sass */
.flag-kw { background-position: 0 -1143px; }

/* line 414, ../../sass/ui/flags.sass */
.flag-ky { background-position: 0 -1152px; }

/* line 417, ../../sass/ui/flags.sass */
.flag-kz { background-position: 0 -1161px; }

/* line 420, ../../sass/ui/flags.sass */
.flag-la { background-position: 0 -1170px; }

/* line 423, ../../sass/ui/flags.sass */
.flag-lb { background-position: 0 -1179px; }

/* line 426, ../../sass/ui/flags.sass */
.flag-lc { background-position: 0 -1188px; }

/* line 429, ../../sass/ui/flags.sass */
.flag-li { background-position: 0 -1197px; }

/* line 432, ../../sass/ui/flags.sass */
.flag-lk { background-position: 0 -1206px; }

/* line 435, ../../sass/ui/flags.sass */
.flag-lr { background-position: 0 -1215px; }

/* line 438, ../../sass/ui/flags.sass */
.flag-ls { background-position: 0 -1224px; }

/* line 441, ../../sass/ui/flags.sass */
.flag-lt { background-position: 0 -1233px; }

/* line 444, ../../sass/ui/flags.sass */
.flag-lu { background-position: 0 -1242px; }

/* line 447, ../../sass/ui/flags.sass */
.flag-lv { background-position: 0 -1251px; }

/* line 450, ../../sass/ui/flags.sass */
.flag-ly { background-position: 0 -1260px; }

/* line 453, ../../sass/ui/flags.sass */
.flag-ma { background-position: 0 -1269px; }

/* line 456, ../../sass/ui/flags.sass */
.flag-mc { background-position: 0 -1278px; }

/* line 459, ../../sass/ui/flags.sass */
.flag-md { background-position: 0 -1287px; }

/* line 462, ../../sass/ui/flags.sass */
.flag-me { background-position: 0 -1296px; }

/* line 465, ../../sass/ui/flags.sass */
.flag-mf { background-position: 0 -1305px; }

/* line 468, ../../sass/ui/flags.sass */
.flag-mg { background-position: 0 -1314px; }

/* line 471, ../../sass/ui/flags.sass */
.flag-mh { background-position: 0 -1323px; }

/* line 474, ../../sass/ui/flags.sass */
.flag-mk { background-position: 0 -1332px; }

/* line 477, ../../sass/ui/flags.sass */
.flag-ml { background-position: 0 -1341px; }

/* line 480, ../../sass/ui/flags.sass */
.flag-mm { background-position: 0 -1350px; }

/* line 483, ../../sass/ui/flags.sass */
.flag-mn { background-position: 0 -1359px; }

/* line 486, ../../sass/ui/flags.sass */
.flag-mo { background-position: 0 -1368px; }

/* line 489, ../../sass/ui/flags.sass */
.flag-mp { background-position: 0 -1377px; }

/* line 492, ../../sass/ui/flags.sass */
.flag-mq { background-position: 0 -1386px; }

/* line 495, ../../sass/ui/flags.sass */
.flag-mr { background-position: 0 -1395px; }

/* line 498, ../../sass/ui/flags.sass */
.flag-ms { background-position: 0 -1404px; }

/* line 501, ../../sass/ui/flags.sass */
.flag-mt { background-position: 0 -1413px; }

/* line 504, ../../sass/ui/flags.sass */
.flag-mu { background-position: 0 -1422px; }

/* line 507, ../../sass/ui/flags.sass */
.flag-mv { background-position: 0 -1431px; }

/* line 510, ../../sass/ui/flags.sass */
.flag-mw { background-position: 0 -1440px; }

/* line 513, ../../sass/ui/flags.sass */
.flag-mx { background-position: 0 -1449px; }

/* line 516, ../../sass/ui/flags.sass */
.flag-my { background-position: 0 -1458px; }

/* line 519, ../../sass/ui/flags.sass */
.flag-mz { background-position: 0 -1467px; }

/* line 522, ../../sass/ui/flags.sass */
.flag-na { background-position: 0 -1476px; }

/* line 525, ../../sass/ui/flags.sass */
.flag-nc { background-position: 0 -1485px; }

/* line 528, ../../sass/ui/flags.sass */
.flag-ne { background-position: 0 -1494px; }

/* line 531, ../../sass/ui/flags.sass */
.flag-nf { background-position: 0 -1503px; }

/* line 534, ../../sass/ui/flags.sass */
.flag-ng { background-position: 0 -1512px; }

/* line 537, ../../sass/ui/flags.sass */
.flag-ni { background-position: 0 -1521px; }

/* line 540, ../../sass/ui/flags.sass */
.flag-nkr { background-position: 0 -1530px; }

/* line 543, ../../sass/ui/flags.sass */
.flag-nl { background-position: 0 -1539px; }

/* line 546, ../../sass/ui/flags.sass */
.flag-no { background-position: 0 -1548px; }

/* line 549, ../../sass/ui/flags.sass */
.flag-np { background-position: 0 -1557px; }

/* line 552, ../../sass/ui/flags.sass */
.flag-nr { background-position: 0 -1566px; }

/* line 555, ../../sass/ui/flags.sass */
.flag-nu { background-position: 0 -1575px; }

/* line 558, ../../sass/ui/flags.sass */
.flag-nz { background-position: 0 -1584px; }

/* line 561, ../../sass/ui/flags.sass */
.flag-om { background-position: 0 -1593px; }

/* line 564, ../../sass/ui/flags.sass */
.flag-pa { background-position: 0 -1602px; }

/* line 567, ../../sass/ui/flags.sass */
.flag-pe { background-position: 0 -1611px; }

/* line 570, ../../sass/ui/flags.sass */
.flag-pf { background-position: 0 -1620px; }

/* line 573, ../../sass/ui/flags.sass */
.flag-pg { background-position: 0 -1629px; }

/* line 576, ../../sass/ui/flags.sass */
.flag-ph { background-position: 0 -1638px; }

/* line 579, ../../sass/ui/flags.sass */
.flag-pk { background-position: 0 -1647px; }

/* line 582, ../../sass/ui/flags.sass */
.flag-pl { background-position: 0 -1656px; }

/* line 585, ../../sass/ui/flags.sass */
.flag-pm { background-position: 0 -1665px; }

/* line 588, ../../sass/ui/flags.sass */
.flag-pn { background-position: 0 -1674px; }

/* line 591, ../../sass/ui/flags.sass */
.flag-pr { background-position: 0 -1683px; }

/* line 594, ../../sass/ui/flags.sass */
.flag-ps { background-position: 0 -1692px; }

/* line 597, ../../sass/ui/flags.sass */
.flag-pt { background-position: 0 -1701px; }

/* line 600, ../../sass/ui/flags.sass */
.flag-pw { background-position: 0 -1710px; }

/* line 603, ../../sass/ui/flags.sass */
.flag-py { background-position: 0 -1719px; }

/* line 606, ../../sass/ui/flags.sass */
.flag-qa { background-position: 0 -1728px; }

/* line 609, ../../sass/ui/flags.sass */
.flag-re { background-position: 0 -1737px; }

/* line 612, ../../sass/ui/flags.sass */
.flag-ro { background-position: 0 -1746px; }

/* line 615, ../../sass/ui/flags.sass */
.flag-rs { background-position: 0 -1755px; }

/* line 618, ../../sass/ui/flags.sass */
.flag-ru { background-position: 0 -1764px; }

/* line 621, ../../sass/ui/flags.sass */
.flag-rw { background-position: 0 -1773px; }

/* line 624, ../../sass/ui/flags.sass */
.flag-sa { background-position: 0 -1782px; }

/* line 627, ../../sass/ui/flags.sass */
.flag-sb { background-position: 0 -1791px; }

/* line 630, ../../sass/ui/flags.sass */
.flag-sc { background-position: 0 -1800px; }

/* line 633, ../../sass/ui/flags.sass */
.flag-sd { background-position: 0 -1809px; }

/* line 636, ../../sass/ui/flags.sass */
.flag-se { background-position: 0 -1818px; }

/* line 639, ../../sass/ui/flags.sass */
.flag-sg { background-position: 0 -1827px; }

/* line 642, ../../sass/ui/flags.sass */
.flag-sh { background-position: 0 -1836px; }

/* line 645, ../../sass/ui/flags.sass */
.flag-si { background-position: 0 -1845px; }

/* line 648, ../../sass/ui/flags.sass */
.flag-sj { background-position: 0 -1854px; }

/* line 651, ../../sass/ui/flags.sass */
.flag-sk { background-position: 0 -1863px; }

/* line 654, ../../sass/ui/flags.sass */
.flag-sl { background-position: 0 -1872px; }

/* line 657, ../../sass/ui/flags.sass */
.flag-sm { background-position: 0 -1881px; }

/* line 660, ../../sass/ui/flags.sass */
.flag-sn { background-position: 0 -1890px; }

/* line 663, ../../sass/ui/flags.sass */
.flag-so { background-position: 0 -1899px; }

/* line 666, ../../sass/ui/flags.sass */
.flag-south-ossetia { background-position: 0 -1908px; }

/* line 669, ../../sass/ui/flags.sass */
.flag-sr { background-position: 0 -1917px; }

/* line 672, ../../sass/ui/flags.sass */
.flag-ss { background-position: 0 -1926px; }

/* line 675, ../../sass/ui/flags.sass */
.flag-st { background-position: 0 -1935px; }

/* line 678, ../../sass/ui/flags.sass */
.flag-sv { background-position: 0 -1944px; }

/* line 681, ../../sass/ui/flags.sass */
.flag-sy { background-position: 0 -1953px; }

/* line 684, ../../sass/ui/flags.sass */
.flag-sz { background-position: 0 -1962px; }

/* line 687, ../../sass/ui/flags.sass */
.flag-tc { background-position: 0 -1971px; }

/* line 690, ../../sass/ui/flags.sass */
.flag-td { background-position: 0 -1980px; }

/* line 693, ../../sass/ui/flags.sass */
.flag-tf { background-position: 0 -1989px; }

/* line 696, ../../sass/ui/flags.sass */
.flag-tg { background-position: 0 -1998px; }

/* line 699, ../../sass/ui/flags.sass */
.flag-th { background-position: 0 -2007px; }

/* line 702, ../../sass/ui/flags.sass */
.flag-tj { background-position: 0 -2016px; }

/* line 705, ../../sass/ui/flags.sass */
.flag-tk { background-position: 0 -2025px; }

/* line 708, ../../sass/ui/flags.sass */
.flag-tl { background-position: 0 -2034px; }

/* line 711, ../../sass/ui/flags.sass */
.flag-tm { background-position: 0 -2043px; }

/* line 714, ../../sass/ui/flags.sass */
.flag-tn { background-position: 0 -2052px; }

/* line 717, ../../sass/ui/flags.sass */
.flag-to { background-position: 0 -2061px; }

/* line 720, ../../sass/ui/flags.sass */
.flag-tr { background-position: 0 -2070px; }

/* line 723, ../../sass/ui/flags.sass */
.flag-tt { background-position: 0 -2079px; }

/* line 726, ../../sass/ui/flags.sass */
.flag-tv { background-position: 0 -2088px; }

/* line 729, ../../sass/ui/flags.sass */
.flag-tw { background-position: 0 -2097px; }

/* line 732, ../../sass/ui/flags.sass */
.flag-tz { background-position: 0 -2106px; }

/* line 735, ../../sass/ui/flags.sass */
.flag-ua { background-position: 0 -2115px; }

/* line 738, ../../sass/ui/flags.sass */
.flag-ug { background-position: 0 -2124px; }

/* line 741, ../../sass/ui/flags.sass */
.flag-um { background-position: 0 -2133px; }

/* line 744, ../../sass/ui/flags.sass */
.flag-us { background-position: 0 -2142px; }

/* line 747, ../../sass/ui/flags.sass */
.flag-uy { background-position: 0 -2151px; }

/* line 750, ../../sass/ui/flags.sass */
.flag-uz { background-position: 0 -2160px; }

/* line 753, ../../sass/ui/flags.sass */
.flag-va { background-position: 0 -2169px; }

/* line 756, ../../sass/ui/flags.sass */
.flag-vc { background-position: 0 -2178px; }

/* line 759, ../../sass/ui/flags.sass */
.flag-ve { background-position: 0 -2187px; }

/* line 762, ../../sass/ui/flags.sass */
.flag-vg { background-position: 0 -2196px; }

/* line 765, ../../sass/ui/flags.sass */
.flag-vi { background-position: 0 -2205px; }

/* line 768, ../../sass/ui/flags.sass */
.flag-vn { background-position: 0 -2214px; }

/* line 771, ../../sass/ui/flags.sass */
.flag-vu { background-position: 0 -2223px; }

/* line 774, ../../sass/ui/flags.sass */
.flag-wf { background-position: 0 -2232px; }

/* line 777, ../../sass/ui/flags.sass */
.flag-ws { background-position: 0 -2241px; }

/* line 780, ../../sass/ui/flags.sass */
.flag-ye { background-position: 0 -2250px; }

/* line 783, ../../sass/ui/flags.sass */
.flag-yt { background-position: 0 -2259px; }

/* line 786, ../../sass/ui/flags.sass */
.flag-za { background-position: 0 -2268px; }

/* line 789, ../../sass/ui/flags.sass */
.flag-zm { background-position: 0 -2277px; }

/* line 792, ../../sass/ui/flags.sass */
.flag-zw { background-position: 0 -2286px; }
