/* line 3, ../../sass/ui/graphics.sass */
.graphic-container { position: relative; margin-bottom: 55px; }

/* line 7, ../../sass/ui/graphics.sass */
.graphic { border: 1px solid #e5e5e5; position: relative; }
/* line 11, ../../sass/ui/graphics.sass */
.graphic.is-with-map { border-bottom: 0; }

/* line 14, ../../sass/ui/graphics.sass */
.graphic-header { position: absolute; left: 8px; right: 10px; top: 10px; }

/* line 20, ../../sass/ui/graphics.sass */
.graphic-header-axis { margin-top: -2px; }
/* line 23, ../../sass/ui/graphics.sass */
.graphic-header-axis .graphic-axis-numbers { margin-left: 35px; }
/* line 26, ../../sass/ui/graphics.sass */
.graphic-header-axis .graphic-axis-number { margin-right: 20px; }
/* line 29, ../../sass/ui/graphics.sass */
.graphic-header-axis:last-child { float: right; }
/* line 32, ../../sass/ui/graphics.sass */
.graphic-header-axis:last-child .graphic-axis-label { float: right; }
/* line 35, ../../sass/ui/graphics.sass */
.graphic-header-axis:first-child { float: left; }
/* line 38, ../../sass/ui/graphics.sass */
.graphic-header-axis:first-child .graphic-axis-label { float: left; }

/* line 41, ../../sass/ui/graphics.sass */
.graphic-axis-label { float: left; font-size: 11px; margin-top: 5px; font-weight: bold; }

/* line 47, ../../sass/ui/graphics.sass */
.graphic-axis-label-part { display: block; float: left; }

/* line 51, ../../sass/ui/graphics.sass */
.graphic-axis-numbers { float: left; color: black; }

/* line 55, ../../sass/ui/graphics.sass */
.graphic-axis-number { display: block; float: left; }

/* line 59, ../../sass/ui/graphics.sass */
.graphic-axis-number-big, .graphic-axis-number-small { display: block; text-align: center; }

/* line 63, ../../sass/ui/graphics.sass */
.graphic-axis-number-big { font-size: 18px; margin-bottom: 4px; }

/* line 68, ../../sass/ui/graphics.sass */
.graphic-axis-number-big-outer.is-up-green { color: #356a00; }
/* line 70, ../../sass/ui/graphics.sass */
.graphic-axis-number-big-outer.is-up { color: #3d0483; }
/* line 72, ../../sass/ui/graphics.sass */
.graphic-axis-number-big-outer.is-down { color: #831c04; }

/* line 75, ../../sass/ui/graphics.sass */
.graphic-axis-number-small { font-size: 12px; }

/* line 78, ../../sass/ui/graphics.sass */
.graphic-axis-container, .graphic-axis-side, .graphic-axis-left, .graphic-axis-right, .graphic-axis-time { position: absolute; }

/* line 81, ../../sass/ui/graphics.sass */
.graphic-axis-container { top: 50px; bottom: 0; left: 0; right: 0; font-size: 11px; color: #1e1f20; }

/* line 89, ../../sass/ui/graphics.sass */
.graphic-axis-time-table, .graphic-axis-side { table-layout: fixed; }

/* line 92, ../../sass/ui/graphics.sass */
.graphic-axis-side { height: 100%; }

/* line 97, ../../sass/ui/graphics.sass */
.graphic-axis-side:first-child { left: 8px; }
/* line 100, ../../sass/ui/graphics.sass */
.graphic-axis-side + .graphic-axis-side { right: 8px; }

/* line 103, ../../sass/ui/graphics.sass */
.graphic-axis-side-val { text-align: right; vertical-align: top; }

/* line 107, ../../sass/ui/graphics.sass */
.graphic-axis-side-val-container { display: block; margin-top: -5px; }

/* line 111, ../../sass/ui/graphics.sass */
.graphic-axis-side-val-zero-row { height: 0; }

/* line 114, ../../sass/ui/graphics.sass */
.graphic-axis-side-val-zero { margin-top: -15px; }

/* line 117, ../../sass/ui/graphics.sass */
.graphic-axis-time { position: absolute; margin-bottom: -26px; bottom: 0; left: 50px; right: 50px; }

/* line 124, ../../sass/ui/graphics.sass */
.graphic-axis-time-val { text-align: center; }

/* line 127, ../../sass/ui/graphics.sass */
.graphic-axis-time-table { width: 100%; height: 25px; }
/* line 131, ../../sass/ui/graphics.sass */
.graphic-axis-time-table.is-outside { font-size: 11px; }

/* line 134, ../../sass/ui/graphics.sass */
.graphic-axis-time-table-val { text-align: center; }

/* line 137, ../../sass/ui/graphics.sass */
.graphic-paper { position: absolute; top: 50px; bottom: 0; left: 40px; right: 40px; }

/* line 144, ../../sass/ui/graphics.sass */
.graphic-map { height: 76px; border: 1px solid #e5e5e5; border-top: 0; padding-top: 25px; }

/* line 150, ../../sass/ui/graphics.sass */
.graphic-map-paper-container { border-top: 1px solid #e5e5e5; padding-top: 15px; position: relative; }

/* line 155, ../../sass/ui/graphics.sass */
.graphic-map-paper { height: 60px; }

/* line 160, ../../sass/ui/graphics.sass */
.graphic-map-paper-container .ui-rangeSlider-label-value { display: none; }
/* line 163, ../../sass/ui/graphics.sass */
.graphic-map-paper-container .ui-rangeSlider-container { left: 0; right: 0; bottom: 0; top: 0; bottom: 0px; top: -1px; overflow: hidden; }
/* line 172, ../../sass/ui/graphics.sass */
.graphic-map-paper-container .ui-rangeSlider-bar { -webkit-box-shadow: #3c3c3c 0 0 0 1px inset; -moz-box-shadow: #3c3c3c 0 0 0 1px inset; box-shadow: #3c3c3c 0 0 0 1px inset; bottom: 0; }
/* line 176, ../../sass/ui/graphics.sass */
.graphic-map-paper-container .ui-rangeSlider-leftLabel { margin-left: -1px; }
/* line 179, ../../sass/ui/graphics.sass */
.graphic-map-paper-container .ui-rangeSlider-rightLabel { margin-right: -1px; }
/* line 182, ../../sass/ui/graphics.sass */
.graphic-map-paper-container .ui-rangeSlider-label { width: 16px; height: 16px; margin-top: -5px; background: url("/images/ui/drag.png") no-repeat 50% 50%; }

/* line 188, ../../sass/ui/graphics.sass */
.graphic-map-shade { content: ""; display: block; position: absolute; top: 0; bottom: -1px; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; width: 99998px; }
/* line 198, ../../sass/ui/graphics.sass */
.graphic-map-shade.is-left { left: 0; margin-left: -99999px; }
/* line 202, ../../sass/ui/graphics.sass */
.graphic-map-shade.is-right { right: 0; margin-right: -99999px; }

/* line 206, ../../sass/ui/graphics.sass */
.graphic-tip { background: rgba(255, 255, 255, 0.7); font-size: 11px; -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px; box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px; padding: 4px; }
/* line 213, ../../sass/ui/graphics.sass */
.graphic-tip.is-up .graphic-tip-row.is-real { color: #3d0483; }
/* line 216, ../../sass/ui/graphics.sass */
.graphic-tip.is-down .graphic-tip-row.is-real { color: #831c04; }

/* line 219, ../../sass/ui/graphics.sass */
.graphic-tip-row { font-weight: bold; margin-bottom: 4px; }
/* line 223, ../../sass/ui/graphics.sass */
.graphic-tip-row.is-header { font-weight: normal; }
/* line 226, ../../sass/ui/graphics.sass */
.graphic-tip-row:last-child { margin-bottom: 0; }

/* line 229, ../../sass/ui/graphics.sass */
.graphic-legend { -webkit-box-shadow: rgba(0, 0, 0, 0.25) -1px 2px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.25) -1px 2px 3px; box-shadow: rgba(0, 0, 0, 0.25) -1px 2px 3px; border-top: none; position: absolute; top: 20px; right: 0; background: white; font-size: 11px; padding: 6px 10px; }

/* line 239, ../../sass/ui/graphics.sass */
.graphic-legend-row { margin-bottom: 8px; }
/* line 242, ../../sass/ui/graphics.sass */
.graphic-legend-row.is-header { font-weight: bold; }

/* line 245, ../../sass/ui/graphics.sass */
.graphic-legend-icon { vertical-align: middle; }

/* line 248, ../../sass/ui/graphics.sass */
.graphic-legend-icon, .graphic-legend-icon-overlay { display: inline-block; width: 12px; height: 13px; }

/* line 253, ../../sass/ui/graphics.sass */
.graphic-legend-icon-overlay { background: url("/images/ui/legend-icon.png"); }

/* line 256, ../../sass/ui/graphics.sass */
.graphic-legend-name { margin-left: 6px; }
