/* line 5, ../../sass/ui/layout.sass */
.header { padding: 6px 16px 0; height: 31px; background: #92bb53 url("/images/ui/header-background.png"); border-left: rgba(96, 123, 54, 0.8) 1px solid; border-right: rgba(96, 123, 54, 0.8) 1px solid; overflow: hidden; }
/* line 13, ../../sass/ui/layout.sass */
.header.is-animated { -webkit-animation: header-background 3s linear infinite; -moz-animation: header-background 3s linear infinite; -o-animation: header-background 3s linear infinite; animation: header-background 3s linear infinite; }

/* line 16, ../../sass/ui/layout.sass */
.header-container { position: absolute; top: 3px; right: 16px; left: 16px; overflow: hidden; height: 30px; padding-top: 4px; }

/* line 25, ../../sass/ui/layout.sass */
.header-logo, .header-links { float: left; }

/* line 28, ../../sass/ui/layout.sass */
.header-logo { outline: none; }

/* line 31, ../../sass/ui/layout.sass */
.header-links { margin-left: 8px; }
/* line 34, ../../sass/ui/layout.sass */
.header-links.is-right { float: right; }

/* line 37, ../../sass/ui/layout.sass */
.header-tab, .header-logout { display: block; float: left; }

/* line 41, ../../sass/ui/layout.sass */
.header-tab { background: #afcb85; background: rgba(232, 245, 212, 0.4); -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px; box-shadow: rgba(0, 0, 0, 0.3) 0 0 2px; margin-right: 2px; font-size: 17px; font-weight: bold; color: white; display: inline-block; padding: 6px 13px 9px; text-decoration: none; border-top: 1px solid #799b45; outline: none; -webkit-transition-property: background, margin-top; -moz-transition-property: background, margin-top; -o-transition-property: background, margin-top; transition-property: background, margin-top; -webkit-transition-duration: 100ms; -moz-transition-duration: 100ms; -o-transition-duration: 100ms; transition-duration: 100ms; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 58, ../../sass/ui/layout.sass */
.header-tab:hover { background: rgba(255, 255, 255, 0.5); margin-top: -3px; }
/* line 62, ../../sass/ui/layout.sass */
.header-tab.is-current { background: white; color: black; border-color: #3f522a; }
/* line 67, ../../sass/ui/layout.sass */
.header-tab.is-current:hover { margin-top: 0; }

/* line 70, ../../sass/ui/layout.sass */
.header-logout { background: url("/images/ui/header-logout.png") no-repeat 50% 8px; width: 15px; height: 15px; padding: 10px 5px; margin-left: 6px; }
/* line 77, ../../sass/ui/layout.sass */
.header-logout:hover { -webkit-animation: shake-logout 200ms 3; -moz-animation: shake-logout 200ms 3; -o-animation: shake-logout 200ms 3; animation: shake-logout 200ms 3; }

/* line 82, ../../sass/ui/layout.sass */
.content { position: relative; padding: 22px 20px; }

/* line 86, ../../sass/ui/layout.sass */
.content-header { margin-bottom: 25px; height: 30px; }
/* line 90, ../../sass/ui/layout.sass */
.content-header.is-graphic-header { margin-bottom: 5px; }
/* line 93, ../../sass/ui/layout.sass */
.content-header.is-subscriptions { margin-bottom: 12px; }
/* line 96, ../../sass/ui/layout.sass */
.content-header.is-first { margin-top: 15px; }
/* line 99, ../../sass/ui/layout.sass */
.content-header.is-with-tabs { margin-top: 20px; }

/* line 102, ../../sass/ui/layout.sass */
.content-title { float: left; font-size: 20px; font-weight: bold; }

/* line 107, ../../sass/ui/layout.sass */
.content-title-part { text-decoration: none; background-repeat: repeat-x; padding-top: 5px; }
/* line 112, ../../sass/ui/layout.sass */
.content-title-part.is-free { color: #0768ac; background-color: #ecf3f8; background-image: url(/images/ui/free-apps-background.png); border-bottom: 1px dashed #0768ac; }
/* line 118, ../../sass/ui/layout.sass */
.content-title-part.is-paid { color: #008a50; background-color: #ebf6f1; background-image: url(/images/ui/paid-apps-background.png); border-bottom: 1px dashed #008a50; }
/* line 124, ../../sass/ui/layout.sass */
.content-title-part.is-revenue { color: #de7e0c; background-repeat: no-repeat; background-image: url(/images/ui/revenue-background.png); padding-top: 8px; }
/* line 130, ../../sass/ui/layout.sass */
.content-title-part.is-expected-revenue { color: black; background-color: #d6edc5; background-image: url(/images/ui/expected-revenue-background.png); padding: 7px 3px 0; }
/* line 136, ../../sass/ui/layout.sass */
.content-title-part.is-data { color: black; background-image: url(/images/ui/data-background.png); }

/* line 140, ../../sass/ui/layout.sass */
.content-title-selector { color: black; text-decoration: none; }

/* line 144, ../../sass/ui/layout.sass */
.content-title-selector-label { border-bottom: 1px dashed black; }

/* line 147, ../../sass/ui/layout.sass */
.content-title-selector-icon { width: 25px; height: 18px; background-image: -webkit-linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); background-image: -moz-linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); background-image: -o-linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); background-image: linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); display: inline-block; border: 1px solid #a7a08b; border-radius: 4px; position: relative; top: 4px; }
/* line 157, ../../sass/ui/layout.sass */
.content-title-selector-icon.is-list .content-title-selector-img { background: url("/images/ui/icon-list-big.png") no-repeat 50% 50%; }

/* line 160, ../../sass/ui/layout.sass */
.content-title-selector-img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

/* line 167, ../../sass/ui/layout.sass */
.content-header-options { float: right; font-size: 13px; font-size: 13px; font-weight: bold; position: relative; top: 4px; }

/* line 175, ../../sass/ui/layout.sass */
.content-header-selectors { float: left; font-size: 12px; position: relative; top: 2px; margin-left: 20px; }
/* line 182, ../../sass/ui/layout.sass */
.content-header-selectors.is-finances-selectors { top: 8px; }

/* line 185, ../../sass/ui/layout.sass */
.content-header-selector { margin-left: 20px; }

/* line 188, ../../sass/ui/layout.sass */
.content-header-selector, .content-header-selector-link { text-decoration: none; }
/* line 191, ../../sass/ui/layout.sass */
.content-header-selector .content-header-selector-label, .content-header-selector-link .content-header-selector-label { -webkit-transition-property: color, border-color; -moz-transition-property: color, border-color; -o-transition-property: color, border-color; transition-property: color, border-color; -webkit-transition-duration: 70ms; -moz-transition-duration: 70ms; -o-transition-duration: 70ms; transition-duration: 70ms; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 197, ../../sass/ui/layout.sass */
.content-header-selector:hover .content-header-selector-label, .content-header-selector-link:hover .content-header-selector-label { color: #53a1c1; border-color: #53a1c1; }
/* line 201, ../../sass/ui/layout.sass */
.content-header-selector:hover .content-header-selector-icon, .content-header-selector-link:hover .content-header-selector-icon { background-image: -webkit-linear-gradient(#ffffff, #fdfdfd 50%, #f8f8f8 51%, #f8f8f8); background-image: -moz-linear-gradient(#ffffff, #fdfdfd 50%, #f8f8f8 51%, #f8f8f8); background-image: -o-linear-gradient(#ffffff, #fdfdfd 50%, #f8f8f8 51%, #f8f8f8); background-image: linear-gradient(#ffffff, #fdfdfd 50%, #f8f8f8 51%, #f8f8f8); }

/* line 205, ../../sass/ui/layout.sass */
.content-header-selector-link.is-calendar-link { width: 3px; height: 5px; display: inline-block; padding: 6px; }
/* line 211, ../../sass/ui/layout.sass */
.content-header-selector-link.is-calendar-link.is-disabled { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; }
/* line 214, ../../sass/ui/layout.sass */
.content-header-selector-link.is-calendar-link.is-prev { background: url("/images/ui/day-prev.png") no-repeat 50% 50%; }
/* line 217, ../../sass/ui/layout.sass */
.content-header-selector-link.is-calendar-link.is-next { background: url("/images/ui/day-next.png") no-repeat 50% 50%; }

/* line 220, ../../sass/ui/layout.sass */
.content-header-selector-label { position: relative; top: -6px; margin-right: 5px; }

/* line 225, ../../sass/ui/layout.sass */
.content-header-selector-icon { width: 23px; height: 16px; background-image: -webkit-linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); background-image: -moz-linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); background-image: -o-linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); background-image: linear-gradient(#ffffff, #f5f5f5 50%, #eeeeee 51%, #eeeeee); display: inline-block; border: 1px solid #a7a08b; border-radius: 4px; position: relative; }
/* line 234, ../../sass/ui/layout.sass */
.content-header-selector-icon.is-list .content-header-selector-img { background: url("/images/ui/icon-apps.png") no-repeat 50% 50%; }
/* line 237, ../../sass/ui/layout.sass */
.content-header-selector-icon.is-cal .content-header-selector-img { background: url("/images/ui/icon-cal.png") no-repeat 50% 50%; }

/* line 240, ../../sass/ui/layout.sass */
.content-header-selector-img { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

/* line 247, ../../sass/ui/layout.sass */
.settings-link { color: #247893; border-color: #247893; display: inline-block; position: relative !important; -webkit-transition-property: color, border-color; -moz-transition-property: color, border-color; -o-transition-property: color, border-color; transition-property: color, border-color; -webkit-transition-duration: 70ms; -moz-transition-duration: 70ms; -o-transition-duration: 70ms; transition-duration: 70ms; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 256, ../../sass/ui/layout.sass */
.settings-link:hover { color: #53a1c1; }
/* line 259, ../../sass/ui/layout.sass */
.settings-link.is-overlay-over { color: white; border-color: black; }

/* line 263, ../../sass/ui/layout.sass */
.export-links { display: inline-block; margin-left: 30px; }

/* line 267, ../../sass/ui/layout.sass */
.export-links-title { margin-right: 3px; }

/* line 270, ../../sass/ui/layout.sass */
.export-link { color: white; font-size: 12px; background: #7bad5a; padding: 2px 4px; text-decoration: none; font-weight: normal; -webkit-transition-property: background; -moz-transition-property: background; -o-transition-property: background; transition-property: background; -webkit-transition-duration: 70ms; -moz-transition-duration: 70ms; -o-transition-duration: 70ms; transition-duration: 70ms; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 281, ../../sass/ui/layout.sass */
.export-link:hover { background: #afd670; }
/* line 284, ../../sass/ui/layout.sass */
.export-link.is-statement { background: #4c94ae; font-size: 11px; padding: 3px 4px; }
/* line 289, ../../sass/ui/layout.sass */
.export-link.is-statement:hover { background: #5eb9db; }

/* line 294, ../../sass/ui/layout.sass */
.overlay { background: rgba(0, 0, 0, 0.6); position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 10; min-height: 1500px; }

/* line 304, ../../sass/ui/layout.sass */
.is-overlay-over { position: absolute; z-index: 15; }
