/* line 3, ../../sass/ui/popup.sass */
.popup { display: none; position: absolute; background: white; z-index: 20; padding: 10px 15px; -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px; -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px; box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

/* line 12, ../../sass/ui/popup.sass */
.popup-tri { background: url("/images/ui/popup-tri.png"); width: 39px; height: 12px; position: absolute; top: 0; left: 50%; margin-top: -12px; margin-left: -20px; }

/* line 22, ../../sass/ui/popup.sass */
.save-bookmark { left: 92%; }

/* line 29, ../../sass/ui/popup.sass */
.popup-list.is-striked .popup-item { text-decoration: line-through; color: #8a8a8a; }
/* line 33, ../../sass/ui/popup.sass */
.popup-list.is-striked .popup-item:hover { text-decoration: none; color: #8a8a8a; }
/* line 37, ../../sass/ui/popup.sass */
.popup-list.is-striked .popup-item.is-active { color: black; text-decoration: none; }
/* line 41, ../../sass/ui/popup.sass */
.popup-list.is-striked .popup-item.is-active:hover { text-decoration: line-through; color: #831c04; }

/* line 45, ../../sass/ui/popup.sass */
.popup-item { cursor: pointer; line-height: 24px; font-size: 13px; }
/* line 52, ../../sass/ui/popup.sass */
.popup-item:hover { color: #831c04; }

/* line 55, ../../sass/ui/popup.sass */
.popup-table { font-size: 13px; }

/* line 58, ../../sass/ui/popup.sass */
.popup-table-head { font-size: 11px; }
/* line 61, ../../sass/ui/popup.sass */
.popup-table-head .popup-table-cell { font-weight: bold; height: 18px; }

/* line 67, ../../sass/ui/popup.sass */
.popup-table-cell:first-child { padding-right: 20px; }

/* line 72, ../../sass/ui/popup.sass */
.popup-table-row { cursor: pointer; height: 24px; }
/* line 77, ../../sass/ui/popup.sass */
.popup-table-row:hover { color: #831c04; }
/* line 81, ../../sass/ui/popup.sass */
.popup-table-row.is-active .popup-table-cell { font-weight: bold; }
/* line 84, ../../sass/ui/popup.sass */
.popup-table-row.is-active:hover { color: #831c04; }
