/* line 3, ../../sass/ui/tabs.sass */
.tabs-holder { text-align: center; }

/* line 6, ../../sass/ui/tabs.sass */
.tabs { display: inline-block; }
/* line 11, ../../sass/ui/tabs.sass */
.tabs.is-period-tabs .tab { padding: 8px 17px; font-size: 15px; }
/* line 17, ../../sass/ui/tabs.sass */
.tabs.is-period-tabs .tab:first-child { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; border-top-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
/* line 20, ../../sass/ui/tabs.sass */
.tabs.is-period-tabs .tab:last-child { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; border-top-right-radius: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }

/* line 23, ../../sass/ui/tabs.sass */
.tab { padding: 7px 18px; font-size: 18px; color: #2f2f2f; text-decoration: none; background: #fcfcfc; background-image: -webkit-linear-gradient(#f3f3f3, #fcfcfc 30%, #f5f5f5 60%, #d5d5d5); background-image: -moz-linear-gradient(#f3f3f3, #fcfcfc 30%, #f5f5f5 60%, #d5d5d5); background-image: -o-linear-gradient(#f3f3f3, #fcfcfc 30%, #f5f5f5 60%, #d5d5d5); background-image: linear-gradient(#f3f3f3, #fcfcfc 30%, #f5f5f5 60%, #d5d5d5); border: 1px solid #c4c4c4; margin: 0 -1px; display: block; float: left; -webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 100ms; -moz-transition-duration: 100ms; -o-transition-duration: 100ms; transition-duration: 100ms; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 38, ../../sass/ui/tabs.sass */
.tab:hover { background-image: -webkit-linear-gradient(#f8f8f8, #ffffff 30%, #fbfbfb 60%, #e9e9e9); background-image: -moz-linear-gradient(#f8f8f8, #ffffff 30%, #fbfbfb 60%, #e9e9e9); background-image: -o-linear-gradient(#f8f8f8, #ffffff 30%, #fbfbfb 60%, #e9e9e9); background-image: linear-gradient(#f8f8f8, #ffffff 30%, #fbfbfb 60%, #e9e9e9); }
/* line 41, ../../sass/ui/tabs.sass */
.tab.is-current { background-image: -webkit-linear-gradient(#98c84e, #d7edb4); background-image: -moz-linear-gradient(#98c84e, #d7edb4); background-image: -o-linear-gradient(#98c84e, #d7edb4); background-image: linear-gradient(#98c84e, #d7edb4); -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 7px inset; -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 7px inset; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 7px inset; border-color: #7ea83d; border-bottom-color: #90c144; }
/* line 47, ../../sass/ui/tabs.sass */
.tab:first-child { -moz-border-radius-topleft: 18px; -webkit-border-top-left-radius: 18px; border-top-left-radius: 18px; -moz-border-radius-bottomleft: 18px; -webkit-border-bottom-left-radius: 18px; border-bottom-left-radius: 18px; }
/* line 50, ../../sass/ui/tabs.sass */
.tab:last-child { -moz-border-radius-topright: 18px; -webkit-border-top-right-radius: 18px; border-top-right-radius: 18px; -moz-border-radius-bottomright: 18px; -webkit-border-bottom-right-radius: 18px; border-bottom-right-radius: 18px; }

/* line 53, ../../sass/ui/tabs.sass */
.bookmarks { text-align: center; float: right; }

/* line 57, ../../sass/ui/tabs.sass */
.delete-bookmark-img { background: url("/images/ui/delete-bookmark.png") center no-repeat; width: 10px; height: 10px; }

/* line 62, ../../sass/ui/tabs.sass */
.save-bookmark-error { display: none; color: red; width: 170px; text-align: center; }
