.header-container
  %a.header-logo( href="/export" role="logo" )
    %img( src="/images/ui/header-logo.png" width="66px" height="31px" alt="zepto" )
  .header-links
    %g:if(test="${current == "finances"}")
      %a.header-tab.is-current( href="/finances" ) finances
    %g:else
      %a.header-tab( href="/finances" ) finances
  .header-links.is-right
    %g:if(test="${current == "reports"}")
      %a.header-tab.is-current( href="/reports" ) mail reports
    %g:else
      %a.header-tab( href="/reports" ) mail reports
    %g:if(test="${current == "export"}")
      %a.header-tab.is-current( href="/export" ) data export
    %g:else
      %a.header-tab( href="/export" ) data export
    %a.header-logout( href="/logout" )