.templates( role="templates" )
  %script( role="template" data-id="graphic" type="text/x-js-template" )
    .graphic( role="graphic" )
      .graphic-header( role="header" )
      .graphic-axis-container( role="axis" )
      .graphic-paper( role="paper" )
    {{ if (map) { }}
    .graphic-map( role="map" )
      .graphic-map-paper-container( role="map-container" )
        .graphic-map-paper( role="map-paper" )
    {{ }; }}
  %script( role="template" data-id="graphic_header_axis" type="text/x-js-template" )
    .graphic-header-axis( role="axis-header" )
      .graphic-axis-label( role="name" ) {{= name }}
      %ul.graphic-axis-numbers( role="numbers" )
        {{ if (typeof total != 'undefined') { }}
        %li.graphic-axis-number( role="number" )
          %span.graphic-axis-number-big
            {{ if (typeof measure != 'undefined') { }}{{= measure }}{{ }; }}{{= formatNumber(total) }}
          %span.graphic-axis-number-small total
        {{ }; }}
        {{ if (typeof per != 'undefined') { }}
        %li.graphic-axis-number( role="number" )
          %span.graphic-axis-number-big
            {{ if (typeof measure != 'undefined') { }}{{= measure }}{{ }; }}{{= formatNumber(per.value) }} {{- growArrows(per.grow) }}
          %span.graphic-axis-number-small per day
        {{ }; }}
        {{ if (typeof expected != 'undefined') { }}
        %li.graphic-axis-number( role="number" )
          {{ if (expected > paid) { }}
          %span.graphic-axis-number-big-outer.is-up-green
            %span.graphic-axis-number-big {{= formatNumber(expected) }}
            %span.graphic-axis-number-small expected, k$
          {{ } else { }}
          %span.graphic-axis-number-big {{= formatNumber(expected) }}
          %span.graphic-axis-number-small expected, k$
          {{ }; }}
        {{ }; }}
        {{ if (typeof paid != 'undefined') { }}
        %li.graphic-axis-number( role="number" )
          %span.graphic-axis-number-big {{= formatNumber(paid) }}
          %span.graphic-axis-number-small paid, k$
        {{ }; }}
        {{ if (typeof delta != 'undefined') { }}
        %li.graphic-axis-number( role="number" )
          {{ if (delta > 0) { }}
          %span.graphic-axis-number-big-outer.is-up
            %span.graphic-axis-number-big
              {{= formatNumber(delta) }}
            %span.graphic-axis-number-small Δ, k$
          {{ } else { }}
          %span.graphic-axis-number-big-outer.is-down
            %span.graphic-axis-number-big
              {{= formatNumber(delta) }}
            %span.graphic-axis-number-small Δ, k$
          {{ }; }}
        {{ }; }}
  %script( role="template" data-id="graphic_axis" type="text/x-js-template" )
    %table.graphic-axis-side( role="axis-column" )
      %tbody
        {{ line.reverse().each(function(num) { }}
        %tr
          %td.graphic-axis-side-val
            %span.graphic-axis-side-val-container( role="val" )
              {{= num }}
        {{ }); }}
        %tr.graphic-axis-side-val-zero-row
          %td.graphic-axis-side-val
            .graphic-axis-side-val-zero( role="val" ) 0
  %script( role="template" data-id="graphic_axis_time" type="text/x-js-template" )
    .graphic-axis-time
      %table.graphic-axis-time-table
        %tbody
          %tr
            {{ _(dates).each(function(date) { }}
            %td.graphic-axis-time-val
              {{= date }}
            {{ }); }}
  <% def dollar = '$' %>
  %script( role="template" data-id="graphic_value_tip" type="text/x-js-template" )
    %ul.graphic-tip
      %li.graphic-tip-row.is-header {{= date }}
      %li.graphic-tip-row ${dollar}{{= formatNumber(value) }}
  %script( role="template" data-id="graphic_finances_tip" type="text/x-js-template" )
    %ul.graphic-tip
      %li.graphic-tip-row.is-header {{= date }}
      %li.graphic-tip-row ${dollar}{{= formatNumber(expected) }}
      %li.graphic-tip-row.is-real ${dollar}{{= formatNumber(real) }}
  %script( role="template" data-id="graphic_legend" type="text/x-js-template" )
    %ul.graphic-legend
      %li.graphic-legend-row.is-header {{= name }}
      {{ graphs.each(function (g) { }}
      %li.graphic-legend-row
        :plain
          <span class="graphic-legend-icon" style="background: {{= g.color }};">
            <span class="graphic-legend-icon-overlay"></span>
          </span>
        %span.graphic-legend-name {{= g.name }}
      {{ }); }}