!!! 5
%html
  %head
    %r:require( module="css" )
    %g:javascript( src="vendor/jquery-1.8.1.js" )
    %g:javascript( src="vendor/jquery-ui-1.8.23.custom.min.js" )
    %g:javascript( src="vendor/jQRangeSlider-min-4.2.js" )
    %g:javascript( src="vendor/jQDateRangeSlider-min-4.2.js" )
    %g:javascript( src="vendor/jquery.backstretch.min.js" )
    %g:javascript( src="vendor/jquery.jkey.js" )
    %g:javascript( src="vendor/sugar.js" )
    %g:javascript( src="vendor/underscore.js" )
    %g:javascript( src="vendor/jquery.role.js" )
    %g:javascript( src="vendor/raphael.js" )
    %g:javascript( src="vendor/g.raphael-min-0.51.js" )
    %g:javascript( src="vendor/g.line-min-0.51.js" )
    %g:javascript( src="vendor/datepicker.js" )
    %g:javascript( src="vendor/spin.js" )
    %g:javascript( src="vendor/jquery.spin.js" )
    %g:javascript( src="vendor/color-0.4.1.js" )
    %r:layoutResources
  %body
    .header( role="header" )
      %g:render( template="/layouts/menu" model="${[current: pageProperty(name: 'page.currentMenuItem')]}" )
    .content( role="countries timeline" )
      %g:layoutBody/
    .overlay( role="overlay" style="display:none;" )
    %g:render( template="/layouts/templates" model="${[:]}")
    %r:require( module="coffee" )
    %r:layoutResources

