/* line 3, ../../sass/pages/countries.sass */
.store-table-container { width: 100%; overflow-x: scroll; }

/* line 7, ../../sass/pages/countries.sass */
.store-table { margin-bottom: 40px; }

/* line 10, ../../sass/pages/countries.sass */
.store-table-game, .store-table-other-store, .store-table-device, .store-table-other-game { text-align: center; }

/* line 13, ../../sass/pages/countries.sass */
.store-table-game, .store-table-other-store, .store-table-device.is-last, .store-table-other-game.is-last, .store-table-stat.is-last, .store-table-total-col.is-last { padding-right: 35px; }

/* line 17, ../../sass/pages/countries.sass */
.store-table-stat.is-last .store-table-stat-downloads { padding-right: 26px; }
/* line 19, ../../sass/pages/countries.sass */
.store-table-stat.is-last .store-table-stat-position { right: 43px; }

/* line 23, ../../sass/pages/countries.sass */
.store-table-game:last-child, .store-table-other-store:last-child { padding-right: 0; }

/* line 26, ../../sass/pages/countries.sass */
.store-table-logo { line-height: 100px; width: 150px; text-align: left; }

/* line 31, ../../sass/pages/countries.sass */
.store-table-logo-container { width: 150px; height: 100px; }

/* line 35, ../../sass/pages/countries.sass */
.store-table-logo-img { vertical-align: bottom; margin-left: 5px; margin-bottom: 5px; }

/* line 40, ../../sass/pages/countries.sass */
.store-table-game, .store-table-other-store { padding-bottom: 10px; }

/* line 43, ../../sass/pages/countries.sass */
.store-table-game-logo, .store-table-other-store-logo { height: 50px; line-height: 50px; }

/* line 47, ../../sass/pages/countries.sass */
.store-table-game-img, .store-table-other-store-img { vertical-align: bottom; }

/* line 50, ../../sass/pages/countries.sass */
.store-table-game-underline { margin-top: 10px; height: 3px; border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; }

/* line 57, ../../sass/pages/countries.sass */
.store-table-device, .store-table-other-game { font-weight: bold; font-size: 13px; border-bottom: 1px solid #cccccc; padding-bottom: 10px; width: 65px; }

/* line 64, ../../sass/pages/countries.sass */
.store-table-logo-text { font-weight: bold; font-size: 18px; line-height: 23px; display: inline-block; }

/* line 71, ../../sass/pages/countries.sass */
.store-table-device .store-table-upper-text { position: relative; bottom: 3px; }

/* line 75, ../../sass/pages/countries.sass */
.store-table-country-delimeter { height: 10px; }

/* line 78, ../../sass/pages/countries.sass */
.store-table-country { border-bottom: 6px solid white; }
/* line 82, ../../sass/pages/countries.sass */
.store-table-country:hover .store-table-country-name { font-weight: bold; }

/* line 85, ../../sass/pages/countries.sass */
.store-table-country-name, .store-table-stat { padding: 1px 0; }

/* line 88, ../../sass/pages/countries.sass */
.store-tables-right-fade { background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%); background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%); background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%); background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 20%, #ffffff 100%); position: absolute; z-index: 10; top: 80px; bottom: 0; right: 0; width: 30px; }

/* line 97, ../../sass/pages/countries.sass */
.store-table-country-name, .store-table-total-title, .store-table-logo-inner-container { background: -webkit-linear-gradient(left, #ffffff 0%, #ffffff 80%, rgba(255, 255, 255, 0) 100%); background: -moz-linear-gradient(left, #ffffff 0%, #ffffff 80%, rgba(255, 255, 255, 0) 100%); background: -o-linear-gradient(left, #ffffff 0%, #ffffff 80%, rgba(255, 255, 255, 0) 100%); background: linear-gradient(to right, #ffffff 0%, #ffffff 80%, rgba(255, 255, 255, 0) 100%); z-index: 10; height: 16px; padding-right: 10px; width: 115px; }

/* line 104, ../../sass/pages/countries.sass */
.store-table-logo-inner-container { height: 110px; }

/* line 107, ../../sass/pages/countries.sass */
.store-table-country-name { font-size: 14px; width: 120px; }

/* line 111, ../../sass/pages/countries.sass */
.store-table-country-flag { margin-left: -20px; margin-right: 5px; }

/* line 115, ../../sass/pages/countries.sass */
.store-table-stat { padding-right: 23px; position: relative; text-align: right; }

/* line 120, ../../sass/pages/countries.sass */
.store-table-stat-downloads { font-size: 13px; position: relative; top: -1px; padding-right: 3px; }

/* line 126, ../../sass/pages/countries.sass */
.store-table-stat-position { font-size: 10px; background: #f3f3f3; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; color: #212121; padding: 2px; border: 1px solid white; position: absolute; top: 1px; }

/* line 136, ../../sass/pages/countries.sass */
.store-table-total { font-style: italic; font-size: 13px; text-align: left; }

/* line 141, ../../sass/pages/countries.sass */
.store-table-total-title { padding-left: 5px; }

/* line 144, ../../sass/pages/countries.sass */
.store-table-total-title, .store-table-total-col { padding-top: 8px; }

/* line 147, ../../sass/pages/countries.sass */
.store-table-total-num { text-align: right; padding-right: 27px; }

/* line 151, ../../sass/pages/countries.sass */
.store-table-upper-text { font-weight: normal; vertical-align: top; font-size: 11px; }

/* line 156, ../../sass/pages/countries.sass */
.store-table-other-game img { max-width: 25px; }
