/* line 1, ../../sass/pages/export.sass */
.export-title-checkboxes { display: inline-block; top: -4px; position: relative; }

/* line 7, ../../sass/pages/export.sass */
.export-title-setting.is-disabled { color: #b4b4b4; }

/* line 10, ../../sass/pages/export.sass */
.export-settings { margin-top: 20px; position: relative; }
/* line 14, ../../sass/pages/export.sass */
.export-settings .timeline-settings-tip { top: 26px; left: 17px; }
/* line 18, ../../sass/pages/export.sass */
.export-settings .timeline-settings-tip-wrapper { margin-left: -15px; }
/* line 21, ../../sass/pages/export.sass */
.export-settings .timeline-settings-footer { margin: 0; }
/* line 24, ../../sass/pages/export.sass */
.export-settings .timeline-row-buttons { position: static; padding-bottom: 10px; }
/* line 29, ../../sass/pages/export.sass */
.export-settings .timeline-setting-subtree-title-wrapper span, .export-settings .timeline-setting.is-switcher span { white-space: pre; white-space: pre-wrap; white-space: pre-line; white-space: -pre-wrap; white-space: -o-pre-wrap; white-space: -moz-pre-wrap; white-space: -hp-pre-wrap; word-wrap: break-word; width: 177px; }

/* line 40, ../../sass/pages/export.sass */
.export-settings-container { border: 1px solid #cccccc; border-top: none; }

/* line 44, ../../sass/pages/export.sass */
.export-modifiers { text-align: center; float: right; }
