/* line 3, ../../sass/pages/login.sass */
.login-logo { width: 207px; height: 232px; background: url("/images/ui/zeptolab_logo.png"); margin: 30px auto; }

/* line 9, ../../sass/pages/login.sass */
.login-form { width: 330px; height: 200px; background: url("/images/ui/login_form_background.png"); -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 3px; box-shadow: rgba(0, 0, 0, 0.6) 0 1px 3px; margin: 0px auto; }

/* line 17, ../../sass/pages/login.sass */
.login-form-fields { padding: 35px 30px 30px; }

/* line 20, ../../sass/pages/login.sass */
.login-form-label { margin-bottom: 12px; display: inline-block; }

/* line 24, ../../sass/pages/login.sass */
.login-form-label-name { color: white; text-shadow: rgba(0, 0, 0, 0.5) 0 1px 3px; display: inline-block; width: 80px; }

/* line 30, ../../sass/pages/login.sass */
.login-form-input { font-size: 17px; width: 180px; }

/* line 34, ../../sass/pages/login.sass */
.login-form-submit { background: -webkit-linear-gradient(#f3f3f3 0%, #f1f1f1 50%, #c7c7c7 100%); background: -moz-linear-gradient(#f3f3f3 0%, #f1f1f1 50%, #c7c7c7 100%); background: -o-linear-gradient(#f3f3f3 0%, #f1f1f1 50%, #c7c7c7 100%); background: linear-gradient(#f3f3f3 0%, #f1f1f1 50%, #c7c7c7 100%); color: black; text-shadow: white 0 1px 0; border: 1px solid #818f72; font-size: 18px; font-weight: bold; padding: 7px 15px; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; margin-left: 80px; margin-top: 10px; }

/* line 47, ../../sass/pages/login.sass */
.login .login_message { padding: 6px 25px 20px 25px; color: #cc3333; margin: 0px auto; width: 700px; text-align: center; }
