/* line 3, ../../sass/pages/settings.sass */
.settings-window { position: absolute !important; background: white; top: 57px; left: 55px; right: 55px; }

/* line 10, ../../sass/pages/settings.sass */
.settings-tri { width: 30px; height: 15px; background: url("/images/pages/settings/tri.png"); position: absolute; top: 0; right: 125px; margin-top: -15px; }

/* line 19, ../../sass/pages/settings.sass */
.settings-content { padding: 15px; }

/* line 22, ../../sass/pages/settings.sass */
.settings-columns { padding: 20px 40px 0; overflow: hidden; }
/* line 28, ../../sass/pages/settings.sass */
.settings-columns.is-apps .settings-column { padding-right: 80px; }
/* line 31, ../../sass/pages/settings.sass */
.settings-columns.is-apps .settings-options { width: 240px; }
/* line 34, ../../sass/pages/settings.sass */
.settings-columns.is-apps .settings-list { padding-bottom: 15px; }
/* line 37, ../../sass/pages/settings.sass */
.settings-columns.is-apps .settings-list .settings-list { padding-bottom: 0; }
/* line 40, ../../sass/pages/settings.sass */
.settings-columns.is-apps .settings-list .settings-list .settings-options { width: 200px; }

/* line 43, ../../sass/pages/settings.sass */
.settings-column { overflow: hidden; float: left; padding-right: 30px; }

/* line 48, ../../sass/pages/settings.sass */
.settings-column-title { font-size: 13px; font-weight: bold; margin-bottom: 7px; padding-left: 24px; cursor: pointer; }

/* line 55, ../../sass/pages/settings.sass */
.settings-list { float: left; padding-bottom: 30px; }
/* line 59, ../../sass/pages/settings.sass */
.settings-list .settings-list { padding-left: 40px; padding-bottom: 0; }

/* line 63, ../../sass/pages/settings.sass */
.settings-options { width: 160px; overflow: hidden; }

/* line 67, ../../sass/pages/settings.sass */
.settings-option { background: url("/images/pages/settings/star-off.png") no-repeat 0 3px; text-decoration: none; padding-left: 25px; line-height: 25px; font-size: 13px; display: block; color: black; -webkit-transition-property: background; -moz-transition-property: background; -o-transition-property: background; transition-property: background; -webkit-transition-duration: 50ms; -moz-transition-duration: 50ms; -o-transition-duration: 50ms; transition-duration: 50ms; -webkit-transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; -o-transition-timing-function: ease-out; transition-timing-function: ease-out; }
/* line 79, ../../sass/pages/settings.sass */
.settings-option.is-active { background-image: url("/images/pages/settings/star-on.png"); }
/* line 82, ../../sass/pages/settings.sass */
.settings-option:hover { background-position: 0 1px; }
