/* line 5, ../../../src/stylesheets/pages/subscriptions.sass */
.subscriptions-row { margin-bottom: 12px; font-size: 15px; }
/* line 9, ../../../src/stylesheets/pages/subscriptions.sass */
.subscriptions-row.is-submit { margin-top: 20px; }
