/* line 4, ../../sass/pages/timeline.sass */
.timeline-settings .candy, .timeline-settings-footer .candy { vertical-align: top; }

/* line 7, ../../sass/pages/timeline.sass */
.timeline-settings { overflow: hidden; font-size: 14px; }

/* line 11, ../../sass/pages/timeline.sass */
.timeline-setting-column { float: left; border-right: 1px solid #cccccc; margin-right: -1px; }
/* line 16, ../../sass/pages/timeline.sass */
.timeline-setting-column.is-versions { width: 12.5%; }
/* line 19, ../../sass/pages/timeline.sass */
.timeline-setting-column.is-style { width: 12.5%; }
/* line 22, ../../sass/pages/timeline.sass */
.timeline-setting-column.is-regions-and-countries { width: 21%; }
/* line 25, ../../sass/pages/timeline.sass */
.timeline-setting-column.is-os-and-stores { width: 21%; }
/* line 28, ../../sass/pages/timeline.sass */
.timeline-setting-column.is-required-product-types { width: 12%; }
/* line 31, ../../sass/pages/timeline.sass */
.timeline-setting-column.is-metaskus-and-skus { width: 21%; }

/* line 31, ../../sass/pages/timeline.sass */
.timeline-setting-column-title { border-bottom: 1px solid #cccccc; padding: 8px 10px; font-weight: bold; }

/* line 36, ../../sass/pages/timeline.sass */
.timeline-setting-tree { padding: 5px 10px 5px 29px; overflow-y: scroll; height: 268px; }

/* line 41, ../../sass/pages/timeline.sass */
.timeline-setting-subtree { margin-left: 1px; position: relative; top: -10px; }
/* line 46, ../../sass/pages/timeline.sass */
.timeline-setting-subtree .timeline-setting { border-left: 1px solid #cccccc; border-bottom: 1px solid #cccccc; }

/* line 50, ../../sass/pages/timeline.sass */
.timeline-setting-subtree-title-wrapper { background: white; position: relative; z-index: 1; }

/* line 55, ../../sass/pages/timeline.sass */
.timeline-setting-subtree-wrapper { background: white; display: block; position: relative; bottom: -13px; left: 15px; padding-left: 5px; }

/* line 65, ../../sass/pages/timeline.sass */
.timeline-setting-subtree-title-wrapper.is-striked-little, .timeline-setting.is-switcher.is-striked-little { color: #8a8a8a; }
/* line 68, ../../sass/pages/timeline.sass */
.timeline-setting-subtree-title-wrapper.is-striked, .timeline-setting.is-switcher.is-striked { text-decoration: line-through; color: #8a8a8a; }

/* line 72, ../../sass/pages/timeline.sass */
.timeline-setting { line-height: 25px; cursor: pointer; }
/* line 76, ../../sass/pages/timeline.sass */
.timeline-setting.is-subtree { position: relative; margin-left: -18px; padding-left: 18px; overflow: hidden; }
/* line 83, ../../sass/pages/timeline.sass */
.timeline-setting.is-subtree.is-open .timeline-setting-subtree-link { background-image: url("/images/ui/tree-tri-open.png"); }

/* line 86, ../../sass/pages/timeline.sass */
.timeline-setting-subtree-link { background: url("/images/ui/tree-tri.png") no-repeat 50% 50%; width: 7px; height: 7px; padding: 4px; display: block; position: absolute; top: 4px; left: 0; }

/* line 96, ../../sass/pages/timeline.sass */
.timeline-settings-footer { background: #fff5d8; margin: 10px -15px -15px; padding: 20px 20px 5px; position: relative; }

/* line 102, ../../sass/pages/timeline.sass */
.timeline-settings-row { margin-bottom: 15px; }

/* line 105, ../../sass/pages/timeline.sass */
.timeline-row-setting { font-size: 15px; }
/* line 108, ../../sass/pages/timeline.sass */
.timeline-row-setting.is-disabled { color: #b4b4b4; }
/* line 111, ../../sass/pages/timeline.sass */
.timeline-row-setting.is-disabled .candy.is-with-text { color: #b4b4b4; }

/* line 115, ../../sass/pages/timeline.sass */
.candy.is-with-text.is-striked { text-decoration: line-through; color: #8a8a8a; }
/* line 119, ../../sass/pages/timeline.sass */
.candy.is-with-text.is-striked-little { color: #8a8a8a; }

/* line 122, ../../sass/pages/timeline.sass */
.timeline-settings-tip { position: absolute; border-left: 1px solid #cccccc; width: 1px; background: white; color: #cccccc; font-size: 11px; line-height: 14px; top: 41px; left: 32px; height: 200px; }

/* line 134, ../../sass/pages/timeline.sass */
.timeline-settings-tip-wrapper { position: absolute; bottom: 0; width: 100px; background: white; padding: 2px; margin-left: -20px; }

/* line 142, ../../sass/pages/timeline.sass */
.timeline-row-buttons { position: absolute; bottom: 20px; right: 20px; }
