.store-tables-right-fade
%g:if( test="${renderAppStore}" )
  %g:render( template="/countries/storeTable" model="${[logo: appstoreLogo, topAppsCharacteristics: appstoreAppsCharacteristics, topAppsDownloads: appstoreAppsDownloads,metaAppsCharacteristics: appstoreMetaAppsCharacteristics, lastPositions: appstoreLastPositions, appsTotal: appstoreAppsTotal,zeptostatsHost: zeptostatsHost]}" )
%g:if( test="${renderGooglePlay}" )
  %g:render( template="/countries/storeTable" model="${[metaAppsCharacteristics: googleMetaAppsCharacteristics, logo: googleStoreLogo, topAppsCharacteristics: googleAppsCharacteristics, topAppsDownloads: googleAppsDownloads, lastPositions: googleLastPositions, appsTotal: googleAppsTotal,zeptostatsHost: zeptostatsHost]}" )
%g:if( test="${renderOthers}" )
  %g:render( template="/countries/otherStores" model="${[otherAppsCharacteristics: otherAppsCharacteristics,otherAppsStoreCharacteristics: otherAppsStoreCharacteristics,otherLastPositions: otherLastPositions,otherAppsDownloads: otherAppsDownloads,otherAppsTotal: otherAppsTotals,zeptostatsHost: zeptostatsHost]}" )
%g:if(test="${!renderData}")
  There is no avaliable data to display.