.settings-window.is-overlay-over( role="settings countries-settings" style="display:none;" )
  .settings-tri
  .settings-content
    .tabs-holder
      .tabs( role="tabs" )
        %a.tab.is-current( href="#" role="tab" data-id="countries" )
          Countries
        %a.tab( href="#" role="tab" data-id="apps" )
          Apps
    .settings-columns( role="settings-page" data-id="countries" )
      %g:each( in="${countriesFilter}" )
        .settings-column( role="settings-column" )
          %h3.settings-column-title( role="settings-tilte" ) ${it.key}
          %ul.settings-list
            %g:each( in="${it.value}" var="country")
              %li.settings-options
                %g:if( test="${savedCountries.contains(country.id)}" )
                  %a.settings-option.is-active( href="#" role="option" data-id="${country.id}") ${country.name}
                %g:else
                  %a.settings-option( href="#" role="option" data-id="${country.id}") ${country.name}
      .settings-column( role="settings-column" )
        %h3.settings-column-title( role="settings-tilte" ) Total
        %ul.settings-list( role="radio-group" )
          %li.settings-options
            %g:if( test="${total=='choosen'}" )
              %a.settings-option.total-option.is-active( href="#" role="option" data-type="radio" data-total="choosen") Choosen Countries
            %g:else
              %a.settings-option.total-option( href="#" role="option" data-type="radio" data-total="choosen") Choosen Countries
          %li.settings-options
            %g:if( test="${total=='all'}" )
              %a.settings-option.total-option.is-active( href="#" role="option" data-type="radio" data-total="all" ) All Countries
            %g:else
              %a.settings-option.total-option( href="#" role="option" data-type="radio" data-total="all" ) All Countries
    .settings-columns.is-apps( role="settings-page" data-id="apps" style="display:none;" )
      %g:each( in="${appsFilter}" )
        .settings-column( role="settings-column" )
          %h3.settings-column-title( role="settings-tilte" ) ${it.key}
          %ul.settings-list
            %g:each( in="${it.value}" var="storeApps" )
              %li.settings-options( role="options-tree" )
                %a.settings-option( href="#" role="option" ) ${storeApps.key.replaceAll("PAID", "")}
                %ul.settings-list
                  %g:each( in="${storeApps.value}" var="app" )
                    %li.settings-options
                      %g:if( test="${savedApps.contains(app.id)}" )
                        %a.settings-option.is-active.game-item( href="#" role="option" data-id="${app.id}") ${app.resolution} ${app.extra}
                      %g:else
                        %a.settings-option.game-item( href="#" role="option" data-id="${app.id}") ${app.resolution} ${app.extra}