%table.store-table
  %thead.store-table-head
    %tr.store-table-other-stores
      %th.store-table-logo( rowspan=2 )
        .store-table-logo-container
          .store-table-logo-text
            Other
            %br
            stores
      %g:each( in="${otherAppsStoreCharacteristics}" )
        %th.store-table-other-store( colspan="${it.count}" )
          .store-table-other-store-logo
            %img.store-table-other-store-img( src="${zeptostatsHost}${it.path}${it.name}" alt="${it.name}" )
    %tr.store-table-other-games
      %g:each( in="${otherAppsCharacteristics}" status="i" var="game")
        %g:if( test="${otherLastPositions.contains(i.toLong())}" )
          %th.store-table-other-game.is-last
            %img( src="${zeptostatsHost}${game.path}${game.name}" )
            %span.store-table-upper-text ${game.resolution}
        %g:else
          %th.store-table-other-game
            %img( src="${zeptostatsHost}${game.path}${game.name}" )
            %span.store-table-upper-text ${game.resolution}
  %tbody.store-table-body
    %tr.store-table-country-delimeter
      %td( colspan="${otherAppsCharacteristics.size()}" )
        %tr.store-table-country
    %g:each(in='${otherAppsDownloads}' var='item' status="i")
      %tr{:class => "store-table-country flag-background-${item.value.first().code.toLowerCase()}"}
        %td.store-table-country-name
          %div{:class => "store-table-country-flag flag-${item.value.first().code.toLowerCase()}"}
          ${item.value.first().cname}
        %g:each(in='${item.value}' var='country' status="j")
          %g:if( test="${otherLastPositions.contains(j.toLong())}" )
            %td.store-table-stat.with-flag-background.is-last
              %span.store-table-stat-downloads ${country.downloads  ? country.downloads : 0}
          %g:else
            %td.store-table-stat.with-flag-background
              %span.store-table-stat-downloads ${country.downloads ? country.downloads : 0}
  %tfoot.store-table-total
    %td.store-table-total-title Total
    %g:each( in="${otherAppsTotal}" var="item" status="i")
      %g:if( test="${otherLastPositions.contains(i.toLong())}" )
        %td.store-table-total-col.is-last
          .store-table-total-num ${item.downloads ? item.downloads : 0}
      %g:else
        %td.store-table-total-col
          .store-table-total-num ${item.downloads ? item.downloads : 0}