%table.store-table
  %thead.store-table-head
    %tr.store-table-games
      %th.store-table-logo( rowspan=2 )
        .store-table-logo-container
          .store-table-logo-inner-container
            %img.store-table-logo-img( src="${logo}" )
      %g:each( in="${metaAppsCharacteristics}")
        %th.store-table-game( colspan="${it.count}" )
          .store-table-game-logo
            %img.store-table-game-img( src="${zeptostatsHost}${it.path}${it.name}" alt="${it.name}" )
          .store-table-game-underline
    %tr.store-table-devices
      %g:each( in="${topAppsCharacteristics}" var="game" status="i" )
        %g:if( test="${lastPositions.contains(i.toLong())}" )
          %th.store-table-device.is-last 
            ${game.resolution}
            %span.store-table-upper-text ${game.extra}
        %g:else
          %th.store-table-device
            ${game.resolution}
            %span.store-table-upper-text ${game.extra}
  %tbody.store-table-body
    %tr.store-table-country-delimeter
      %td( colspan="${topAppsCharacteristics.size()}" )
        %tr.store-table-country
    %g:each(in='${topAppsDownloads}' var='country')
      %tr{:class => "store-table-country flag-background-${country.value.first().code.toLowerCase()}"}
        %td.store-table-country-name
          %div{:class => "store-table-country-flag flag-${country.value.first().code.toLowerCase()}"}
          ${country.value.first().cname}
        %g:each(in='${country.value}' var='item' status="i")
          %g:if( test="${lastPositions.contains(i.toLong())}" )
            %td.store-table-stat.with-flag-background.is-last
              %span.store-table-stat-downloads ${item.downloads ? item.downloads : 0}
              %span.store-table-stat-position 19 
          %g:else
            %td.store-table-stat.with-flag-background
              %span.store-table-stat-downloads ${item.downloads ? item.downloads : 0}
              %span.store-table-stat-position 19 
  %tfoot.store-table-total
    %td.store-table-total-title Total
    %g:each( in="${appsTotal}" status="i" var="item")
      %g:if( test="${lastPositions.contains(i.toLong())}" )
        %td.store-table-total-col.is-last
          .store-table-total-num ${item.downloads ? item.downloads : 0}
      %g:else
        %td.store-table-total-col
          .store-table-total-num ${item.downloads ? item.downloads : 0}

