%html
  %head
    %title Countries
    %meta(name="layout" content="main")
    %parameter(name="currentMenuItem" value="countries")
  %body
    .content-header.is-first
      %h2.content-title
        Downloads and ratings by country
      .content-header-selectors
        .content-header-selector
          %a.content-header-selector-link.is-calendar-link.is-prev( href="#" role="period-selector-change-day" data-change="prev" )
          %a.content-header-selector-link( href="#" role="period-selector countries-period-selector" data-from="${formattedDateFrom}" data-to="${formattedDateTo}" data-can-be-single="true" )
            %span.content-header-selector-label.inner-link( role="text" ) ${formattedFromToString}
            %span.content-header-selector-icon.is-cal
              %span.content-header-selector-img
          %a.content-header-selector-link.is-calendar-link.is-next( href="#" role="period-selector-change-day" data-change="next" )
      .content-header-options
        // Remove .is-overlay-over to regular state
        %a.inner-link.settings-link( href="#" role="open-settings" )
          Settings
        .export-links
          %span.export-links-title Export
          %a.export-link( href="${createLink(action: "exportXls", controller: "countries")}" ) XLS
          %a.export-link( href="${createLink(action: "exportCsv", controller: "countries")}" ) CSV
    %div( role="countries-tables" )
      .store-tables-right-fade
      %g:render( template="/countries/countriesTables" model="${tablesData}" )
    %g:render( template="/countries/filter" model="${[countriesFilter: countriesFilter, appsFilter: appsFilter, savedApps: savedApps, savedCountries: savedCountries, total: total]}" )
