%html
  %head
    %title Welcome to Grails
    %meta(name="layout" content="main")
  %body
    .tabs-holder
      .tabs.is-period-tabs( role="tabs" )
        %a.tab( href="#" role="tab" data-id="daily" )
          Daily
        %a.tab.is-current( href="#" role="tab" data-id="weekly" )
          Weekly
        %a.tab( href="#" role="tab" data-id="monthly" )
          Monthly
    .content-header.is-graphic-header.is-first.is-with-tabs
      %h2.content-title
        Downloads for in different countries
      .content-header-selectors
        %a.content-header-selector( href="#" role="open-popup" )
          %span.content-header-selector-label.inner-link( role="text" ) for all apps
          %span.content-header-selector-icon.is-list
            %span.content-header-selector-img
        .popup( role="popup" )
          .popup-tri
          %ul.popup-list.is-striked( role="popup-selector apps-selector" )
            %li.popup-item.is-active( role="item" ) Cut The Rope SD
            %li.popup-item.is-active( role="item" ) Cut The Rope HD
            %li.popup-item.is-active( role="item" ) CTR: Experiments SD
            %li.popup-item( role="item" ) CTR: Experiments HD
            %li.popup-item.is-active( role="item" ) CTR: Comics SD
            %li.popup-item( role="item" ) CTR: Comics HD
            %li.popup-item( role="item" ) CTR: Holiday Gift SD
            %li.popup-item.is-active( role="item" ) CTR: Holiday Gift HD
        %a.content-header-selector( href="#" role="period-selector" data-from="2012-04-10" data-to="2012-06-25" )
          %span.content-header-selector-label.inner-link( role="text" ) from 10 Apr to 25 Jun
          %span.content-header-selector-icon.is-cal
            %span.content-header-selector-img
      .content-header-options
        %a.inner-link.settings-link( href="#" role="open-settings " )
          Settings
        .export-links
          %span.export-links-title Export
          %a.export-link( href="#" ) XLS
          %a.export-link( href="#" ) CSV
    .graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/trends.js" data-map-source="/js/data/trends_map.js" )
    .graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/rough_trends.js" data-map-source="/js/data/trends_map.js" )
    .settings-window.is-overlay-over( role="settings" style="display:none;" )
      .settings-tri
      .settings-content
        .timeline-settings-tip
          %span.timeline-settings-tip-wrapper
            Mark candy to see comparasion by this parameter
        %ul.timeline-settings( role="axis-choose" )
          %li.timeline-setting-column.is-versions
            .timeline-setting-column-title
              %a.candy.is-with-text.is-radio.is-active( href="#" role="candy" data-id="versions" )
                .candy-text( role="candy-text" )
                  Versions
            %ul.timeline-setting-tree
              %li.timeline-setting.is-switcher( role="setting switcher" ) Free
              %li.timeline-setting.is-switcher( role="setting switcher" ) Paid
          %li.timeline-setting-column.is-style
            .timeline-setting-column-title
              %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="style" )
                .candy-text( role="candy-text" )
                  Style
            %ul.timeline-setting-tree
              %li.timeline-setting.is-switcher( role="setting switcher" ) SD
              %li.timeline-setting.is-switcher( role="setting switcher" ) HD
              %li.timeline-setting.is-switcher( role="setting switcher" ) Desktop
          %li.timeline-setting-column.is-regions-and-countries
            .timeline-setting-column-title
              %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="regions" )
                .candy-text( role="candy-text" )
                  Regions &
              %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="countries" )
                .candy-text( role="candy-text" )
                  Countries
            %ul.timeline-setting-tree
              %li.timeline-setting.is-subtree( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) Europa
              %li.timeline-setting.is-subtree.is-open( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) Asia
                %ul.timeline-setting-subtree( role="subtree" )
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") China
                  %li.timeline-setting.is-switcher.is-striked( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Thailand
                  %li.timeline-setting.is-switcher.is-striked( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Indonesia
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") India
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Phillipines
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") China
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Thailand
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Indonesia
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") India
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Phillipines
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") China
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Thailand
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Indonesia
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") India
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Phillipines
              %li.timeline-setting.is-subtree( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) USA
              %li.timeline-setting.is-subtree( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) Canada
              %li.timeline-setting.is-subtree( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) South America
              %li.timeline-setting.is-subtree( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) Africa
          %li.timeline-setting-column.is-os-and-stores
            .timeline-setting-column-title
              %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="OS" )
                .candy-text( role="candy-text" )
                  OS &
              %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="stores" )
                .candy-text( role="candy-text" )
                  Stores
            %ul.timeline-setting-tree
              %li.timeline-setting.is-subtree.is-open( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) iOS
                %ul.timeline-setting-subtree( role="subtree" )
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Apple
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Chillingo
              %li.timeline-setting.is-switcher( role="setting switcher" ) Mac
              %li.timeline-setting.is-subtree( role="tree" )
                %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
                .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) Android
                %ul.timeline-setting-subtree( role="subtree" )
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Google Play
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Amazon
                  %li.timeline-setting.is-switcher( role="setting" )
                    %span.timeline-setting-subtree-wrapper( role="switcher") Nook
              %li.timeline-setting.is-switcher( role="setting" )
                Blackberry
          %li.timeline-setting-column.is-apps-and-inapps
            .timeline-setting-column-title
              %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="apps & inapps" )
                .candy-text( role="candy-text" )
                  Apps & Inapps
            %ul.timeline-setting-tree
              %li.timeline-setting.is-switcher( role="setting switcher" ) Cut The Rope
              %li.timeline-setting.is-switcher( role="setting switcher" ) CTR: Experiments
              %li.timeline-setting.is-switcher( role="setting switcher" ) CTR: Comics
              %li.timeline-setting.is-switcher( role="setting switcher" ) CTR: Holiday Gift
              %li.timeline-setting.is-switcher( role="setting switcher" ) Inapp 1
              %li.timeline-setting.is-switcher( role="setting switcher" ) Inapp 2
              %li.timeline-setting.is-switcher( role="setting switcher" ) Inapp 3
              %li.timeline-setting.is-switcher( role="setting switcher" ) Inapp 4
        %ul.timeline-settings-footer( role="display" )
          %li.timeline-settings-row
            %span.timeline-row-setting.is-disable( role="option" )
              %label
                %input( type="checkbox" name="" value="" role="checkbox" )
                Downloads and
              %span.timeline-row-setting.is-disable( role="option" )
                %label
                  %input( type="checkbox" name="" value="" role="checkbox" disabled  )
                  revenues for all apps (except Getjar, Nook and Ovi Store):
                %span.timeline-row-setting.is-disable( role="option" )
                  compared by
                  %a.candy.is-with-text( href="#" role="candy compared-by-candy" )
                    versions.
          %li.timeline-settings-row
            %span.timeline-row-setting( role="option" )
              %label
                %input( type="checkbox" name="" value="" role="checkbox" checked )
                Downloads and
              %span.timeline-row-setting( role="option" )
                %label
                  %input( type="checkbox" name="" value="" role="checkbox" checked )
                  revenues for all inapps
                %span.timeline-row-setting.is-disable( role="option" )
                  compared by
                  %a.candy.is-with-text( href="#" role="candy compared-by-candy" )
                    versions.
          %li.timeline-settings-row
            %span.timeline-row-setting( role="option" )
              %label
                %input( type="checkbox" name="" value="" role="checkbox" checked )
                Download for update:
              %span.timeline-row-setting.is-disable( role="option" )
                compared by
                %a.candy.is-with-text( href="#" role="candy compared-by-candy" )
                  versions.
          %li.timeline-row-buttons
            %button.button.is-white( role="save button" ) Save
