<%@page import="zeptostats.CompareColumn" %>
<%@page import="zeptostats.CompareColumnDependence" %>
<%@page import="zeptostats.Step" %>
.export-settings
  .export-settings-container
    .timeline-settings-tip
      %span.timeline-settings-tip-wrapper
        Mark noone or one or several candies to see comparison by this parameters
    %ul.timeline-settings( role="axis-choose" )
      %li.timeline-setting-column.is-versions( role="filter" data-filter="${CompareColumnDependence.VERSION.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.VERSION}" data-title="${CompareColumn.VERSION.title}" class="${CompareColumn.VERSION.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.VERSION.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.VERSION.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.VERSION.hasDependentFilter()}" )
          %g:each( in="${filterData.gameTypes}" var="gameType" )
            <% def isStriked = savedSettings.unnecessaryGameTypeIds?.contains(gameType) %>
            %li.timeline-setting.is-switcher( role="setting switcher" data-id="${gameType}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}") ${gameType}
      %li.timeline-setting-column.is-style( role="filter" data-filter="${CompareColumnDependence.STYLE.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.STYLE}" data-title="${CompareColumn.STYLE.title}" class="${CompareColumn.STYLE.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.STYLE.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.STYLE.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.STYLE.hasDependentFilter()}" )
          %g:each( in="${filterData.resolutions}" var="resolution" )
            <% isStriked = savedSettings.unnecessaryResolutionIds?.contains(resolution) %>
            %li.timeline-setting.is-switcher( role="setting switcher" data-id="${resolution}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}") ${resolution}
      %li.timeline-setting-column.is-regions-and-countries( role="filter" data-filter="${CompareColumnDependence.COUNTRY.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.REGION}" data-title="${CompareColumn.REGION.title}" class="${CompareColumn.REGION.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.REGION.title}
          &
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.COUNTRY}" data-title="${CompareColumn.COUNTRY.title}" class="${CompareColumn.COUNTRY.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.COUNTRY.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.COUNTRY.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.COUNTRY.hasDependentFilter()}" )
          %g:each( in="${filterData.countries}" var="regionCountries" )
            %li.timeline-setting.is-subtree( role="tree" )
              %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
              .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) ${regionCountries.value.first().regionName}
              %ul.timeline-setting-subtree( role="subtree" )
                %g:each( in="${regionCountries.value}" var="country")
                  <% isStriked = savedSettings.unnecessaryCountryIds?.contains(country.id) %>
                  %li.timeline-setting.is-switcher( role="setting" data-id="${country.id}"  data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}")
                    %span.timeline-setting-subtree-wrapper( role="switcher") ${country.name}
      %li.timeline-setting-column.is-os-and-stores( role="filter" data-filter="${CompareColumnDependence.STORE.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.OS}" data-title="${CompareColumn.OS.title}" class="${CompareColumn.OS.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.OS.title}
          &
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.STORE}" data-title="${CompareColumn.STORE.title}" class="${CompareColumn.STORE.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.STORE.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.STORE.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.STORE.hasDependentFilter()}" )
          %g:each( in="${filterData.stores}" var="osStores" )
            %li.timeline-setting.is-subtree.is-open( role="tree" )
              %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
              .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) ${osStores.value.first().platformName}
              %ul.timeline-setting-subtree( role="subtree" )
                %g:each( in="${osStores.value}" var="store" )
                  <% isStriked = savedSettings.unnecessaryStoreIds?.contains(store.id) %>
                  %li.timeline-setting.is-switcher( role="setting" data-id="${store.id}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}")
                    %span.timeline-setting-subtree-wrapper( role="switcher") ${store.name}
      %li.timeline-setting-column.is-required-product-types( role="filter" data-filter="${CompareColumnDependence.REQUIRED_PRODUCT_TYPE.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.REQUIRED_PRODUCT_TYPE}" data-title="${CompareColumn.REQUIRED_PRODUCT_TYPE.title}" class="${CompareColumn.REQUIRED_PRODUCT_TYPE.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.REQUIRED_PRODUCT_TYPE.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.REQUIRED_PRODUCT_TYPE.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.REQUIRED_PRODUCT_TYPE.hasDependentFilter()}" )
          %g:each( in="${filterData.requiredProductTypes}" var="requiredProductType" )
            <% isStriked = savedSettings.unnecessaryRequiredProductTypeIds?.contains(requiredProductType) %>
            %li.timeline-setting.is-switcher( role="setting switcher" data-id="${requiredProductType}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}") ${requiredProductType}
      %li.timeline-setting-column.is-metaskus-and-skus( role="filter" data-filter="${CompareColumnDependence.SKU.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.METASKU}" data-title="${CompareColumn.METASKU.title}" class="${CompareColumn.METASKU.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.METASKU.title}
              &
          %a.candy.is-with-text.is-checkbox( href="#" role="candy candy-state-dependent" data-id="${CompareColumn.SKU}" data-title="${CompareColumn.SKU.title}" class="${CompareColumn.SKU.isIn(savedSettings.compareColumns) ? "is-active" : ""}" data-available-comparissons="${CompareColumn.SKU.getJustAvailableCompareColumnsJsonStr()}")
            .candy-text( role="candy-text" )
              ${CompareColumn.SKU.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.SKU.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.SKU.hasDependentFilter()}" )
          %g:each( in="${filterData.games}" var="gameGroup" )
            %li.timeline-setting.is-switcher( role="tree" )
              .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) ${gameGroup.value.first().metaSkuName}
              %ul.timeline-setting-subtree( role="subtree" )
                %g:each( in="${gameGroup.value}" var="game" )
                  <% isStriked = savedSettings.unnecessaryGameIds?.contains(game.id) %>
                  %li.timeline-setting.is-switcher( role="setting" data-id="${game.id}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}" hidden="true")
                    %span.timeline-setting-subtree-wrapper( role="switcher" title="${game.fullName}" ) ${game.cutName}
  %ul.timeline-settings-footer( role="display display-settings" )
    %li.timeline-settings-row( role="optionGroup" )
      %span.timeline-row-setting( role="option" class = '${savedSettings.ifNeedDownloads ? "is-active" : ""}' )
        %label
          %g:if( test="${savedSettings.ifNeedDownloads}" )
            %input( type="checkbox" name="" value="" role="checkbox downloads" checked="checked" )
          %g:else
            %input( type="checkbox" name="" value="" role="checkbox downloads")
          Downloads and
      %span.timeline-row-setting( role="option" class='${savedSettings.ifNeedRevenues ? "is-active" : ""}')
        %label
          %g:if( test="${savedSettings.ifNeedRevenues}" )
            %input( type="checkbox" name="" value="" role="checkbox revenue" checked="checked" )
          %g:else
            %input( type="checkbox" name="" value="" role="checkbox revenue" )
          revenues for all apps and inapps
      %span.timeline-row-setting.export-modifiers( role="option" )
        %label
          Modifiers:
    %li.timeline-settings-row( role="optionGroup" )
      %span.timeline-row-setting( role="option" class = '${!savedSettings.ifNeedUpdates ? "is-active" : ""}' )
        %label
          %g:if( test="${savedSettings.ifNeedUpdates}" )
            %input( type="checkbox" name="" value="" role="checkbox updates" checked="checked" )
          %g:else
            %input( type="checkbox" name="" value="" role="checkbox updates")
          Download for update
      %span.timeline-row-setting.export-modifiers( role="option" class = '${savedSettings.ifNeedMonthlyFinancial ? "is-active" : ""}' )
        %label
          %g:if( test="${savedSettings.ifNeedMonthlyFinancial}" )
            %input( type="checkbox" name="" value="" role="checkbox monthlyFinancial" checked="checked" )
          %g:else
            %input( type="checkbox" name="" value="" role="checkbox monthlyFinancial")
          Generate monthly financial report for selected app stores
    %li.timeline-settings-row( role="optionGroup" )
      %span.timeline-row-setting( role="option" class = '${savedSettings.ifNeedDownloads ? "is-active" : ""}' )
        %label
          %g:if( test="${savedSettings.ifNeedRefunds}" )
            %input( type="checkbox" name="" value="" role="checkbox refunds" checked="checked" )
          %g:else
            %input( type="checkbox" name="" value="" role="checkbox refunds")
          Refunds and
      %span.timeline-row-setting( role="option" class='${savedSettings.ifNeedRevenues ? "is-active" : ""}')
        %label
          %g:if( test="${savedSettings.ifNeedRefundsMonetized}" )
            %input( type="checkbox" name="" value="" role="checkbox refundsMonetized" checked="checked" )
          %g:else
            %input( type="checkbox" name="" value="" role="checkbox refundsMonetized" )
          refunds in $ for all apps and inapps
    %li.timeline-row-buttons
      %button.button.is-white( role="save button export-save" href="${createLink(action: "export", controller: "export")}" ) Export TSV