%html
  %head
    %title Export
    %meta(name="layout" content="main")
    %parameter(name="currentMenuItem" value="export")
  %body
    .wrapper( role="export" )
      %g:render( template="/timeline/tabs" model="${[needStep: savedSettings.step, tabsRole: "export-tabs", bookmarks: filterData.bookmarks]}" )
      .content-header.is-graphic-header.is-first
        %h2.content-title
          Data export
        .content-header-selectors
          %a.content-header-selector( href="#" role="period-selector export-period-selector step-state-dependent" data-from="${filterData.formattedDateFrom}" data-to="${filterData.formattedDateTo}")
            %span.content-header-selector-label.inner-link( role="text" ) ${filterData.formattedFromToString}
            %span.content-header-selector-icon.is-cal
              %span.content-header-selector-img
          .content-header-selector.export-title-checkboxes( role="display display-data-settings" )
            %span.export-title-setting.is-disable( role="option" )
              %label
                %g:if( test="${savedSettings.ifNeedTotal}" )
                  %input( type="checkbox" name="" value="" role="checkbox" checked="checked" role="total")
                %g:else
                  %input( type="checkbox" name="" value="" role="checkbox" role="total" )
                overtime total
      %g:render( template="/export/settings" model="${[filterData: filterData, savedSettings: savedSettings]}" )
