.graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/finances_all.js" )
.graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/finances_app_store.js" )