%html
  %head
    %title Finances
    %meta(name="layout" content="main")
    %parameter(name="currentMenuItem" value="finances")
  %body
    .content-header.is-graphic-header.is-first( role="finances" )
      %h2.content-title
        %span.content-title-part.is-expected-revenue Expected revenue
        and
        %span.content-title-part.is-data store data
        %a.content-title-selector( href="#" role="open-popup finances-selected-stores" )
          %span.content-title-selector-label( role="text" )
            %g:if( test="${strikedStores}")
              for selected stores
            %g:else
              for all stores
          %span.content-title-selector-icon.is-list
            %span.content-title-selector-img
        .popup( role="popup" )
          .popup-tri
          %table.popup-table
            %thead.popup-table-head
              %tr
                %td.popup-table-cell Δ by store, k$
                %td.popup-table-cell Apr '12
            %tbody.popup-table-body( role="popup-selector stores-selector finances-stores-selector" )
              %g:each( in="${storesFilter}" )
                %tr.popup-table-row( data-id="${it.id}" role="item" class="${strikedStores?.contains(it.id) ? "" : "is-active"}")
                  %td.popup-table-cell ${it.name}
                  %td +0.01
      .content-header-selectors.is-finances-selectors
        %a.content-header-selector( href="#" role="period-selector finances-period-selector" data-from="${formattedDateFrom}" data-to="${formattedDateTo}" )
          %span.content-header-selector-label.inner-link( role="text" ) ${formattedFromToString}
          %span.content-header-selector-icon.is-cal
            %span.content-header-selector-img
        .popup
      .content-header-options
        .export-links
          %span.export-links-title Export
          %a.export-link( href="#" ) XLS
          %a.export-link( href="#" ) CSV
          %a.export-link.is-statement( href="#" ) Incoming statemnet
    .graphs-container
      %g:render( template="/finances/graphs" )
