@import 'compass'

.store-table-container
  width: 100%
  overflow-x: scroll

.store-table
  margin-bottom: 40px

.store-table-game, .store-table-other-store, .store-table-device, .store-table-other-game
  text-align: center

.store-table-game, .store-table-other-store, .store-table-device.is-last, .store-table-other-game.is-last, .store-table-stat.is-last, .store-table-total-col.is-last
  padding-right: 35px

.store-table-stat.is-last
  .store-table-stat-downloads
    padding-right: 26px
  .store-table-stat-position
    right: 43px

.store-table-game, .store-table-other-store
  &:last-child
    padding-right: 0

.store-table-logo
  line-height: 100px
  width: 150px
  text-align: left

.store-table-logo-container
  width: 150px
  height: 100px

.store-table-logo-img
  vertical-align: bottom
  margin-left: 5px
  margin-bottom: 5px

.store-table-game, .store-table-other-store
  padding-bottom: 10px

.store-table-game-logo, .store-table-other-store-logo
  height: 50px
  line-height: 50px

.store-table-game-img, .store-table-other-store-img
  vertical-align: bottom

.store-table-game-underline
  margin-top: 10px
  height: 3px
  border-top: 1px solid #cccccc
  border-left: 1px solid #cccccc
  border-right: 1px solid #cccccc

.store-table-device, .store-table-other-game
  font-weight: bold
  font-size: 13px
  border-bottom: 1px solid #cccccc
  padding-bottom: 10px
  width: 65px

.store-table-logo-text
  font-weight: bold
  font-size: 18px
  line-height: 23px
  display: inline-block

.store-table-device
  .store-table-upper-text
    position: relative
    bottom: 3px

.store-table-country-delimeter
  height: 10px

.store-table-country
  border-bottom: 6px solid white

  &:hover
    .store-table-country-name
      font-weight: bold

.store-table-country-name, .store-table-stat
  padding: 1px 0

.store-tables-right-fade
  +background(linear-gradient(left, rgba(255,255,255,0) 0%, white 20%, white 100%))
  position: absolute
  z-index: 10
  top: 80px
  bottom: 0
  right: 0
  width: 30px

.store-table-country-name, .store-table-total-title, .store-table-logo-inner-container
  +background(linear-gradient(left, white 0%, white 80%, rgba(255,255,255,0) 100%))
  z-index: 10
  height: 16px
  padding-right: 10px
  width: 115px

.store-table-logo-inner-container
  height: 110px

.store-table-country-name
  font-size: 14px
  width: 120px

.store-table-country-flag
  margin-left: -20px
  margin-right: 5px

.store-table-stat
  padding-right: 23px
  position: relative
  text-align: right

.store-table-stat-downloads
  font-size: 13px
  position: relative
  top: -1px
  padding-right: 3px

.store-table-stat-position
  font-size: 10px
  background: #F3F3F3
  +border-radius(8px)
  color: #212121
  padding: 2px
  border: 1px solid white
  position: absolute
  top: 1px

.store-table-total
  font-style: italic
  font-size: 13px
  text-align: left

.store-table-total-title
  padding-left: 5px

.store-table-total-title, .store-table-total-col
  padding-top: 8px

.store-table-total-num
  text-align: right
  padding-right: 27px

.store-table-upper-text
  font-weight: normal
  vertical-align: top
  font-size: 11px

.store-table-other-game img
  max-width: 25px
