.export-title-checkboxes
  display: inline-block
  top: -4px
  position: relative

.export-title-setting
  &.is-disabled
    color: #B4B4B4

.export-settings
  margin-top: 20px
  position: relative

  .timeline-settings-tip
    top: 26px
    left: 17px

  .timeline-settings-tip-wrapper
    margin-left: -15px

  .timeline-settings-footer
    margin: 0

  .timeline-row-buttons
    position: static
    padding-bottom: 10px

  .timeline-setting-subtree-title-wrapper, .timeline-setting.is-switcher
    span
      white-space: pre              /* CSS 2.0 */
      white-space: pre-wrap         /* CSS 2.1 */
      white-space: pre-line         /* CSS 3.0 */
      white-space: -pre-wrap        /* Opera 4-6 */
      white-space: -o-pre-wrap      /* Opera 7 */
      white-space: -moz-pre-wrap    /* Mozilla */
      white-space: -hp-pre-wrap     /* HP Printers */
      word-wrap: break-word         /* IE 5+ */
      width: 177px

.export-settings-container
  border: 1px solid #CCC
  border-top: none

.export-modifiers
  text-align: center
  float: right