@import 'compass'

.login-logo
  width: 207px
  height: 232px
  background: url('/images/ui/zeptolab_logo.png')
  margin: 30px auto

.login-form
  width: 330px
  height: 200px
  background: url('/images/ui/login_form_background.png')
  +border-radius(10px)
  +box-shadow(rgba(0,0,0,0.6) 0 1px 3px)
  margin: 0px auto

.login-form-fields
  padding: 35px 30px 30px

.login-form-label
  margin-bottom: 12px
  display: inline-block

.login-form-label-name
  color: white
  +text-shadow(rgba(0,0,0,.5) 0 1px 3px)
  display: inline-block
  width: 80px

.login-form-input
  font-size: 17px
  width: 180px

.login-form-submit
  +background(linear-gradient(#f3f3f3 0%, #f1f1f1 50%, #c7c7c7 100%))
  color: black
  +text-shadow(white 0 1px 0)
  border: 1px solid #818F72
  font-size: 18px
  font-weight: bold
  padding: 7px 15px
  +border-radius(8px)
  margin-left: 80px
  margin-top: 10px

.login
  .login_message
    padding: 6px 25px 20px 25px
    color: #c33
    margin: 0px auto
    width: 700px
    text-align: center
