@import 'compass'

.settings-window
  position: absolute !important
  background: white
  top: 57px
  left: 55px
  right: 55px

.settings-tri
  width: 30px
  height: 15px
  background: url('/images/pages/settings/tri.png')
  position: absolute
  top: 0
  right: 125px
  margin-top: -15px

.settings-content
  padding: 15px

.settings-columns
  padding: 20px 40px 0
  overflow: hidden

  &.is-apps

    .settings-column
      padding-right: 80px

    .settings-options
      width: 240px

    .settings-list
      padding-bottom: 15px

      .settings-list
        padding-bottom: 0

        .settings-options
          width: 200px

.settings-column
  overflow: hidden
  float: left
  padding-right: 30px

.settings-column-title
  font-size: 13px
  font-weight: bold
  margin-bottom: 7px
  padding-left: 24px
  cursor: pointer

.settings-list
  float: left
  padding-bottom: 30px

  .settings-list
    padding-left: 40px
    padding-bottom: 0

.settings-options
  width: 160px
  overflow: hidden

.settings-option
  background: url('/images/pages/settings/star-off.png') no-repeat 0 3px
  text-decoration: none
  padding-left: 25px
  line-height: 25px
  font-size: 13px
  display: block
  color: black
  +transition-property(background)
  +transition-duration(50ms)
  +transition-timing-function(ease-out)

  &.is-active
    background-image: url('/images/pages/settings/star-on.png')

  &:hover
    background-position: 0 1px
