@import 'compass'

.timeline-settings, .timeline-settings-footer
  .candy
    vertical-align: top

.timeline-settings
  overflow: hidden
  font-size: 14px

.timeline-setting-column
  float: left
  border-right: 1px solid #cccccc
  margin-right: -1px

  &.is-versions
    width: 12.5%

  &.is-style
    width: 12.5%

  &.is-regions-and-countries
    width: 21%

  &.is-os-and-stores
    width: 21%

  &.is-required-product-types
    width: 12%

  &.is-metaskus-and-skus
    width: 21%

.timeline-setting-column-title
  border-bottom: 1px solid #cccccc
  padding: 8px 10px
  font-weight: bold

.timeline-setting-tree
  padding: 5px 10px 5px 29px
  overflow-y: scroll
  height: 268px

.timeline-setting-subtree
  margin-left: 1px
  position: relative
  top: -10px

  .timeline-setting
    border-left: 1px solid #cccccc
    border-bottom: 1px solid #cccccc

.timeline-setting-subtree-title-wrapper
  background: white
  position: relative
  z-index: 1

.timeline-setting-subtree-wrapper
  background: white
  display: block
  position: relative
  bottom: -13px
  left: 15px
  padding-left: 5px

.timeline-setting-subtree-title-wrapper, .timeline-setting.is-switcher

  &.is-striked-little
    color: #8a8a8a

  &.is-striked
    text-decoration: line-through
    color: #8a8a8a

.timeline-setting
  line-height: 25px
  cursor: pointer

  &.is-subtree
    position: relative
    margin-left: -18px
    padding-left: 18px
    overflow: hidden

    &.is-open
      .timeline-setting-subtree-link
        background-image: url('/images/ui/tree-tri-open.png')

.timeline-setting-subtree-link
  background: url('/images/ui/tree-tri.png') no-repeat 50% 50%
  width: 7px
  height: 7px
  padding: 4px
  display: block
  position: absolute
  top: 4px
  left: 0

.timeline-settings-footer
  background: #fff5d8
  margin: 10px -15px -15px
  padding: 20px 20px 5px
  position: relative

.timeline-settings-row
  margin-bottom: 15px

.timeline-row-setting
  font-size: 15px

  &.is-disabled
    color:  #b4b4b4

    .candy.is-with-text
      color:  #b4b4b4

.candy.is-with-text
  &.is-striked
    text-decoration: line-through
    color: #8a8a8a

  &.is-striked-little
    color: #8a8a8a

.timeline-settings-tip
  position: absolute
  border-left: 1px solid #cccccc
  width: 1px
  background: white
  color: #ccc
  font-size: 11px
  line-height: 14px
  top: 41px
  left: 32px
  height: 200px

.timeline-settings-tip-wrapper
  position: absolute
  bottom: 0
  width: 100px
  background: white
  padding: 2px
  margin-left: -20px

.timeline-row-buttons
  position: absolute
  bottom: 20px
  right: 20px

