body
  background: white
  font-family: Arial
  min-width: 1100px
  -webkit-transform: translateZ(0)

.inner-link
  text-decoration: none
  color: black
  border-bottom: 1px black dashed

.templates
  display: none