@import 'compass'

.button
  +background-image(linear-gradient(#e0f7be, #98c84e))
  +text-shadow(white 0 1px 0)
  border: none
  padding: 6px 18px
  font-size: 15px
  +border-radius(8px)
  border: 1px solid #a0b089
  cursor: pointer

  &.is-white
    +background-image(linear-gradient(white, #f5f5f5 50%, #ececec 51%, #ececec))
    border-color: #9c9c9c

  &.is-loading
    color: transparent
    +text-shadow(none)
    background: #E7F8E4

    &.is-white
      background: #F7F7F7

.candy.is-disabled
  .candy-text
    cursor: pointer

.candy
  display: inline-block
  width: 15px
  height: 15px
  background: url('/images/ui/candy-off.png') no-repeat

  &.is-active
    background-image: url('/images/ui/candy-on.png')

  &.is-with-text
    width: auto
    color: black
    text-decoration: none
    padding-left: 20px

    &.is-disabled
      background-image: url('/images/ui/candy-disabled.png')
      cursor: default