div.datepicker
  position: relative
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  position: absolute
  cursor: default
  top: 0
  left: 0
  display: none

.datepickerHeader
  &.is-0
    .datepickerGoNext a
      display: none
  &.is-1
    .datepickerGoPrev a
      display: none


.datepickerContainer
  position: absolute
  width: 328px
  height: 138px

.datepickerHidden
  display: none

.datepickerDoW th
  padding: 5px 0

div.datepicker
  table
    border-collapse: collapse
  a
    color: black
    text-decoration: none
    cursor: default
    outline: none
  table td
    text-align: right
    padding: 0
    margin: 0
  th
    text-align: center
    color: #999
    font-weight: normal
  tbody
    th
      text-align: left
    a
      display: block

.datepickerDays a
  width: 20px
  line-height: 16px
  height: 16px
  padding-right: 2px

.datepickerYears a, .datepickerMonths a
  width: 44px
  line-height: 36px
  height: 36px
  text-align: center

td.datepickerNotInMonth a
  color: #666

tbody
  &.datepickerDays td
    &.datepickerSelected
      background: #a0d4e6
    &.datepickerNotInMonth.datepickerSelected
      background: #dff0f6
  &.datepickerYears td.datepickerSelected, &.datepickerMonths td.datepickerSelected
    background: #17384d

div.datepicker
  a:hover
    color: #1F78CA
  td.datepickerNotInMonth a:hover
    color: #1F78CA
  tbody th
    text-align: left

.datepickerSpace div
  width: 20px

.datepickerGoNext a, .datepickerGoPrev a, .datepickerMonth a
  text-align: center
  height: 20px
  line-height: 20px

.datepickerGoNext a
  float: right
  width: 20px

.datepickerGoPrev a
  float: left
  width: 20px

table
  &.datepickerViewDays tbody
    &.datepickerMonths, &.datepickerYears
      display: none
  &.datepickerViewMonths
    tbody
      &.datepickerDays, &.datepickerYears
        display: none
    tr.datepickerDoW
      display: none
  &.datepickerViewYears
    tbody
      &.datepickerDays, &.datepickerMonths
        display: none
    tr.datepickerDoW
      display: none

td
  &.datepickerDisabled
    a, &.datepickerNotInMonth a, a:hover
      color: #c4c4c4
  &.datepickerSpecial
    a
      background: #700
    &.datepickerSelected a
      background: #a00
