@import 'compass'

$i: 0
$sprite: '/images/ui/flags.png'
$flagwidth: 16px
$flagheight: 9px

.flag-nowhere
  background: url($sprite) no-repeat 0 9px
  display: -moz-inline-box
  -moz-box-orient: vertical
  display: inline-block
  *display: inline
  *zoom: 1
  vertical-align: baseline
  position: relative
  overflow: hidden
  width: $flagwidth
  height: $flagheight
  font-size: 0
  line-height: 0
  margin: 0
  padding: 0

=flag
  @extend .flag-nowhere
  background-position: 0 (-$i * $flagheight)
  $i: $i + 1

.flag-abkhazia
  +flag

.flag-ad
  +flag

.flag-ae
  +flag

.flag-af
  +flag

.flag-ag
  +flag

.flag-ai
  +flag

.flag-al
  +flag

.flag-am
  +flag

.flag-an
  +flag

.flag-ao
  +flag

.flag-aq
  +flag

.flag-ar
  +flag

.flag-as
  +flag

.flag-at
  +flag

.flag-au
  +flag

.flag-aw
  +flag

.flag-ax
  +flag

.flag-az
  +flag

.flag-ba
  +flag

.flag-bb
  +flag

.flag-bd
  +flag

.flag-be
  +flag

.flag-bf
  +flag

.flag-bg
  +flag

.flag-bh
  +flag

.flag-bi
  +flag

.flag-bj
  +flag

.flag-bl
  +flag

.flag-bm
  +flag

.flag-bn
  +flag

.flag-bo
  +flag

.flag-br
  +flag

.flag-bs
  +flag

.flag-bt
  +flag

.flag-bv
  +flag

.flag-bw
  +flag

.flag-by
  +flag

.flag-bz
  +flag

.flag-ca
  +flag

.flag-cc
  +flag

.flag-cd
  +flag

.flag-cf
  +flag

.flag-cg
  +flag

.flag-ch
  +flag

.flag-ci
  +flag

.flag-ck
  +flag

.flag-cl
  +flag

.flag-cm
  +flag

.flag-cn
  +flag

.flag-co
  +flag

.flag-cr
  +flag

.flag-cu
  +flag

.flag-cv
  +flag

.flag-cx
  +flag

.flag-cy
  +flag

.flag-cz
  +flag

.flag-de
  +flag

.flag-dj
  +flag

.flag-dk
  +flag

.flag-dm
  +flag

.flag-do
  +flag

.flag-dz
  +flag

.flag-ec
  +flag

.flag-ee
  +flag

.flag-eg
  +flag

.flag-eh
  +flag

.flag-er
  +flag

.flag-es-ce
  +flag

.flag-es-ml
  +flag

.flag-es
  +flag

.flag-et
  +flag

.flag-eu
  +flag

.flag-fi
  +flag

.flag-fj
  +flag

.flag-fk
  +flag

.flag-fm
  +flag

.flag-fo
  +flag

.flag-fr
  +flag

.flag-ga
  +flag

.flag-gb
  +flag

.flag-gd
  +flag

.flag-ge
  +flag

.flag-gf
  +flag

.flag-gg
  +flag

.flag-gh
  +flag

.flag-gi
  +flag

.flag-gl
  +flag

.flag-gm
  +flag

.flag-gn
  +flag

.flag-gp
  +flag

.flag-gq
  +flag

.flag-gr
  +flag

.flag-gs
  +flag

.flag-gt
  +flag

.flag-gu
  +flag

.flag-gw
  +flag

.flag-gy
  +flag

.flag-hk
  +flag

.flag-hm
  +flag

.flag-hn
  +flag

.flag-hr
  +flag

.flag-ht
  +flag

.flag-hu
  +flag

.flag-ic
  +flag

.flag-id
  +flag

.flag-ie
  +flag

.flag-il
  +flag

.flag-im
  +flag

.flag-in
  +flag

.flag-io
  +flag

.flag-iq
  +flag

.flag-ir
  +flag

.flag-is
  +flag

.flag-it
  +flag

.flag-je
  +flag

.flag-jm
  +flag

.flag-jo
  +flag

.flag-jp
  +flag

.flag-ke
  +flag

.flag-kg
  +flag

.flag-kh
  +flag

.flag-ki
  +flag

.flag-km
  +flag

.flag-kn
  +flag

.flag-kosovo
  +flag

.flag-kp
  +flag

.flag-kr
  +flag

.flag-kw
  +flag

.flag-ky
  +flag

.flag-kz
  +flag

.flag-la
  +flag

.flag-lb
  +flag

.flag-lc
  +flag

.flag-li
  +flag

.flag-lk
  +flag

.flag-lr
  +flag

.flag-ls
  +flag

.flag-lt
  +flag

.flag-lu
  +flag

.flag-lv
  +flag

.flag-ly
  +flag

.flag-ma
  +flag

.flag-mc
  +flag

.flag-md
  +flag

.flag-me
  +flag

.flag-mf
  +flag

.flag-mg
  +flag

.flag-mh
  +flag

.flag-mk
  +flag

.flag-ml
  +flag

.flag-mm
  +flag

.flag-mn
  +flag

.flag-mo
  +flag

.flag-mp
  +flag

.flag-mq
  +flag

.flag-mr
  +flag

.flag-ms
  +flag

.flag-mt
  +flag

.flag-mu
  +flag

.flag-mv
  +flag

.flag-mw
  +flag

.flag-mx
  +flag

.flag-my
  +flag

.flag-mz
  +flag

.flag-na
  +flag

.flag-nc
  +flag

.flag-ne
  +flag

.flag-nf
  +flag

.flag-ng
  +flag

.flag-ni
  +flag

.flag-nkr
  +flag

.flag-nl
  +flag

.flag-no
  +flag

.flag-np
  +flag

.flag-nr
  +flag

.flag-nu
  +flag

.flag-nz
  +flag

.flag-om
  +flag

.flag-pa
  +flag

.flag-pe
  +flag

.flag-pf
  +flag

.flag-pg
  +flag

.flag-ph
  +flag

.flag-pk
  +flag

.flag-pl
  +flag

.flag-pm
  +flag

.flag-pn
  +flag

.flag-pr
  +flag

.flag-ps
  +flag

.flag-pt
  +flag

.flag-pw
  +flag

.flag-py
  +flag

.flag-qa
  +flag

.flag-re
  +flag

.flag-ro
  +flag

.flag-rs
  +flag

.flag-ru
  +flag

.flag-rw
  +flag

.flag-sa
  +flag

.flag-sb
  +flag

.flag-sc
  +flag

.flag-sd
  +flag

.flag-se
  +flag

.flag-sg
  +flag

.flag-sh
  +flag

.flag-si
  +flag

.flag-sj
  +flag

.flag-sk
  +flag

.flag-sl
  +flag

.flag-sm
  +flag

.flag-sn
  +flag

.flag-so
  +flag

.flag-south-ossetia
  +flag

.flag-sr
  +flag

.flag-ss
  +flag

.flag-st
  +flag

.flag-sv
  +flag

.flag-sy
  +flag

.flag-sz
  +flag

.flag-tc
  +flag

.flag-td
  +flag

.flag-tf
  +flag

.flag-tg
  +flag

.flag-th
  +flag

.flag-tj
  +flag

.flag-tk
  +flag

.flag-tl
  +flag

.flag-tm
  +flag

.flag-tn
  +flag

.flag-to
  +flag

.flag-tr
  +flag

.flag-tt
  +flag

.flag-tv
  +flag

.flag-tw
  +flag

.flag-tz
  +flag

.flag-ua
  +flag

.flag-ug
  +flag

.flag-um
  +flag

.flag-us
  +flag

.flag-uy
  +flag

.flag-uz
  +flag

.flag-va
  +flag

.flag-vc
  +flag

.flag-ve
  +flag

.flag-vg
  +flag

.flag-vi
  +flag

.flag-vn
  +flag

.flag-vu
  +flag

.flag-wf
  +flag

.flag-ws
  +flag

.flag-ye
  +flag

.flag-yt
  +flag

.flag-za
  +flag

.flag-zm
  +flag

.flag-zw
  +flag