@import 'compass'

.graphic-container
  position: relative
  margin-bottom: 55px

.graphic
  border: 1px solid #e5e5e5
  position: relative

  &.is-with-map
    border-bottom: 0

.graphic-header
  position: absolute
  left: 8px
  right: 10px
  top: 10px

.graphic-header-axis
  margin-top: -2px

  .graphic-axis-numbers
    margin-left: 35px

  .graphic-axis-number
    margin-right: 20px

  &:last-child
    float: right

    .graphic-axis-label
      float: right

  &:first-child
    float: left

    .graphic-axis-label
      float: left

.graphic-axis-label
  float: left
  font-size: 11px
  margin-top: 5px
  font-weight: bold

.graphic-axis-label-part
  display: block
  float: left

.graphic-axis-numbers
  float: left
  color: black

.graphic-axis-number
  display: block
  float: left

.graphic-axis-number-big, .graphic-axis-number-small
  display: block
  text-align: center

.graphic-axis-number-big
  font-size: 18px
  margin-bottom: 4px

.graphic-axis-number-big-outer
  &.is-up-green
    color: #356a00
  &.is-up
    color: #3d0483
  &.is-down
    color: #831c04

.graphic-axis-number-small
  font-size: 12px

.graphic-axis-container, .graphic-axis-side, .graphic-axis-left, .graphic-axis-right, .graphic-axis-time
  position: absolute

.graphic-axis-container
  top: 50px
  bottom: 0
  left: 0
  right: 0
  font-size: 11px
  color: #1e1f20

.graphic-axis-time-table, .graphic-axis-side
  table-layout: fixed

.graphic-axis-side
  height: 100%

.graphic-axis-side

  &:first-child
    left: 8px

  .graphic-axis-side + &
    right: 8px

.graphic-axis-side-val
  text-align: right
  vertical-align: top

.graphic-axis-side-val-container
  display: block
  margin-top: -5px

.graphic-axis-side-val-zero-row
  height: 0

.graphic-axis-side-val-zero
  margin-top: -15px

.graphic-axis-time
  position: absolute
  margin-bottom: -26px
  bottom: 0
  left: 50px
  right: 50px

.graphic-axis-time-val
  text-align: center

.graphic-axis-time-table
  width: 100%
  height: 25px

  &.is-outside
    font-size: 11px

.graphic-axis-time-table-val
  text-align: center

.graphic-paper
  position: absolute
  top: 50px
  bottom: 0
  left: 40px
  right: 40px

.graphic-map
  height: 76px
  border: 1px solid #e5e5e5
  border-top: 0
  padding-top: 25px

.graphic-map-paper-container
  border-top: 1px solid #e5e5e5
  padding-top: 15px
  position: relative

.graphic-map-paper
  height: 60px

.graphic-map-paper-container

  .ui-rangeSlider-label-value
    display: none

  .ui-rangeSlider-container
    left: 0
    right: 0
    bottom: 0
    top: 0
    bottom: 0px
    top: -1px
    overflow: hidden

  .ui-rangeSlider-bar
    +box-shadow(#3C3C3C 0 0 0 1px inset)
    bottom: 0

  .ui-rangeSlider-leftLabel
    margin-left: -1px

  .ui-rangeSlider-rightLabel
    margin-right: -1px

  .ui-rangeSlider-label
    width: 16px
    height: 16px
    margin-top: -5px
    background: url('/images/ui/drag.png') no-repeat 50% 50%

.graphic-map-shade
  content: ''
  display: block
  position: absolute
  top: 0
  bottom: -1px
  background: white
  +opacity(0.7)
  width: 99998px

  &.is-left
    left: 0
    margin-left: -99999px

  &.is-right
    right: 0
    margin-right: -99999px

.graphic-tip
  background: rgba(255, 255, 255, 0.7)
  font-size: 11px
  +box-shadow(rgba(0, 0, 0, 0.5) 0 2px 5px)
  padding: 4px

  &.is-up
    .graphic-tip-row.is-real
      color: #3d0483
  &.is-down
    .graphic-tip-row.is-real
      color: #831c04

.graphic-tip-row
  font-weight: bold
  margin-bottom: 4px

  &.is-header
    font-weight: normal

  &:last-child
    margin-bottom: 0

.graphic-legend
  +box-shadow(rgba(0, 0, 0, 0.25) -1px 2px 3px)
  border-top: none
  position: absolute
  top: 20px
  right: 0
  background: white
  font-size: 11px
  padding: 6px 10px

.graphic-legend-row
  margin-bottom: 8px

  &.is-header
    font-weight: bold

.graphic-legend-icon
  vertical-align: middle

.graphic-legend-icon, .graphic-legend-icon-overlay
  display: inline-block
  width: 12px
  height: 13px

.graphic-legend-icon-overlay
  background: url('/images/ui/legend-icon.png')

.graphic-legend-name
  margin-left: 6px
