@import 'compass'

// Header

.header
  padding: 6px 16px 0
  height: 31px
  background: #92BB53 url("/images/ui/header-background.png")
  border-left: rgba(96, 123, 54, 0.8) 1px solid
  border-right: rgba(96, 123, 54, 0.8) 1px solid
  overflow: hidden

  &.is-animated
    +animation(header-background 3s linear infinite)

.header-container
  position: absolute
  top: 3px
  right: 16px
  left: 16px
  overflow: hidden
  height: 30px
  padding-top: 4px

.header-logo, .header-links
  float: left

.header-logo
  outline: none

.header-links
  margin-left: 8px

  &.is-right
    float: right

.header-tab, .header-logout
  display: block
  float: left

.header-tab
  background: #afcb85
  background: rgba(232, 245, 212, 0.4)
  +box-shadow(rgba(0, 0, 0, 0.3) 0 0 2px)
  margin-right: 2px
  font-size: 17px
  font-weight: bold
  color: white
  display: inline-block
  padding: 6px 13px 9px
  text-decoration: none
  border-top: 1px solid #799b45
  outline: none
  +transition-property((background, margin-top))
  +transition-duration(100ms)
  +transition-timing-function(ease-out)

  &:hover
    background: rgba(255, 255, 255, 0.5)
    margin-top: -3px

  &.is-current
    background: white
    color: black
    border-color: #3f522a

    &:hover
      margin-top: 0

.header-logout
  background: url('/images/ui/header-logout.png') no-repeat 50% 8px
  width: 15px
  height: 15px
  padding: 10px 5px
  margin-left: 6px

  &:hover
    +animation(shake-logout 200ms 3)

// Content

.content
  position: relative
  padding: 22px 20px

.content-header
  margin-bottom: 25px
  height: 30px

  &.is-graphic-header
    margin-bottom: 5px

  &.is-subscriptions
    margin-bottom: 12px

  &.is-first
    margin-top: 15px

  &.is-with-tabs
    margin-top: 20px

.content-title
  float: left
  font-size: 20px
  font-weight: bold

.content-title-part
  text-decoration: none
  background-repeat: repeat-x
  padding-top: 5px

  &.is-free
    color: #0768ac
    background-color: #ecf3f8
    background-image: image-url('/images/ui/free-apps-background.png')
    border-bottom: 1px dashed #0768ac

  &.is-paid
    color: #008a50
    background-color: #ebf6f1
    background-image: image-url('/images/ui/paid-apps-background.png')
    border-bottom: 1px dashed #008a50

  &.is-revenue
    color: #de7e0c
    background-repeat: no-repeat
    background-image: image-url('/images/ui/revenue-background.png')
    padding-top: 8px

  &.is-expected-revenue
    color: black
    background-color: #d6edc5
    background-image: image-url('/images/ui/expected-revenue-background.png')
    padding: 7px 3px 0

  &.is-data
    color: black
    background-image: image-url('/images/ui/data-background.png')

.content-title-selector
  color: black
  text-decoration: none

.content-title-selector-label
  border-bottom: 1px dashed black

.content-title-selector-icon
  width: 25px
  height: 18px
  +background-image(linear-gradient(white, #f5f5f5 50%, #eeeeee 51%, #eeeeee))
  display: inline-block
  border: 1px solid #A7A08B
  border-radius: 4px
  position: relative
  top: 4px

  &.is-list .content-title-selector-img
    background: url('/images/ui/icon-list-big.png') no-repeat 50% 50%

.content-title-selector-img
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.content-header-options
  float: right
  font-size: 13px
  font-size: 13px
  font-weight: bold
  position: relative
  top: 4px

.content-header-selectors
  float: left
  font-size: 12px
  position: relative
  top: 2px
  margin-left: 20px

  &.is-finances-selectors
    top: 8px

.content-header-selector
  margin-left: 20px

.content-header-selector, .content-header-selector-link
  text-decoration: none

  .content-header-selector-label
    +transition-property((color, border-color))
    +transition-duration(70ms)
    +transition-timing-function(ease-out)

  &:hover
    .content-header-selector-label
      color: #53a1c1
      border-color: #53a1c1

    .content-header-selector-icon
      +background-image(linear-gradient(white, #fdfdfd 50%, #f8f8f8 51%, #f8f8f8))

.content-header-selector-link
  &.is-calendar-link
    width: 3px
    height: 5px
    display: inline-block
    padding: 6px

    &.is-disabled
      +opacity(0.2)

    &.is-prev
      background: url('/images/ui/day-prev.png') no-repeat 50% 50%

    &.is-next
      background: url('/images/ui/day-next.png') no-repeat 50% 50%

.content-header-selector-label
  position: relative
  top: -6px
  margin-right: 5px

.content-header-selector-icon
  width: 23px
  height: 16px
  +background-image(linear-gradient(white, #f5f5f5 50%, #eeeeee 51%, #eeeeee))
  display: inline-block
  border: 1px solid #A7A08B
  border-radius: 4px
  position: relative

  &.is-list .content-header-selector-img
    background: url('/images/ui/icon-apps.png') no-repeat 50% 50%

  &.is-cal .content-header-selector-img
    background: url('/images/ui/icon-cal.png') no-repeat 50% 50%

.content-header-selector-img
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.settings-link
  color: #247893
  border-color: #247893
  display: inline-block
  position: relative !important
  +transition-property((color, border-color))
  +transition-duration(70ms)
  +transition-timing-function(ease-out)

  &:hover
    color: #53a1c1

  &.is-overlay-over
    color: white
    border-color: black

.export-links
  display: inline-block
  margin-left: 30px

.export-links-title
  margin-right: 3px

.export-link
  color: white
  font-size: 12px
  background: #7bad5a
  padding: 2px 4px
  text-decoration: none
  font-weight: normal
  +transition-property(background)
  +transition-duration(70ms)
  +transition-timing-function(ease-out)

  &:hover
    background: #afd670

  &.is-statement
    background: #4c94ae
    font-size: 11px
    padding: 3px 4px

    &:hover
      background: #5eb9db

// Overlay

.overlay
  background: rgba(0, 0, 0, 0.6)
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 10
  min-height: 1500px

.is-overlay-over
  position: absolute
  z-index: 15
