@import 'compass'

.popup
  display: none
  position: absolute
  background: white
  z-index: 20
  padding: 10px 15px
  +box-shadow(rgba(0, 0, 0, .2) 0 0 5px)
  +border-radius(5px)

.popup-tri
  background: url('/images/ui/popup-tri.png')
  width: 39px
  height: 12px
  position: absolute
  top: 0
  left: 50%
  margin-top: -12px
  margin-left: -20px

.save-bookmark
  left: 92%

.popup-list

  &.is-striked

    .popup-item
      text-decoration: line-through
      color: #8a8a8a

      &:hover
        text-decoration:  none
        color: #8A8A8A

      &.is-active
        color: black
        text-decoration: none

        &:hover
          text-decoration: line-through
          color: #831c04

.popup-item
  cursor: pointer
  line-height: 24px
  font-size: 13px

  .is-active

  &:hover
    color: #831c04

.popup-table
  font-size: 13px

.popup-table-head
  font-size: 11px

  .popup-table-cell
    font-weight: bold
    height: 18px

.popup-table-cell

  &:first-child
    padding-right: 20px

.popup-table-body

.popup-table-row
  cursor: pointer
  height: 24px


  &:hover
    color: #831c04

  &.is-active
    .popup-table-cell
      font-weight: bold

    &:hover
      color: #831c04