@import 'compass'

.tabs-holder
  text-align: center

.tabs
  display: inline-block

  &.is-period-tabs

    .tab
      padding: 8px 17px
      font-size: 15px

      &.is-current

      &:first-child
        +border-left-radius(6px)

      &:last-child
        +border-right-radius(6px)

.tab
  padding: 7px 18px
  font-size: 18px
  color: #2f2f2f
  text-decoration: none
  background: #fcfcfc
  +background-image(linear-gradient(#f3f3f3, #fcfcfc 30%, #f5f5f5 60%, #d5d5d5))
  border: 1px solid #c4c4c4
  margin: 0 -1px
  display: block
  float: left
  +transition-property(all)
  +transition-duration(100ms)
  +transition-timing-function(ease-out)

  &:hover
    +background-image(linear-gradient(#f8f8f8, #fff 30%, #fbfbfb 60%, #e9e9e9))

  &.is-current
    +background-image(linear-gradient(#98c84e, #d7edb4))
    +box-shadow(rgba(0, 0, 0, 0.3) 0 1px 7px inset)
    border-color: #7ea83d
    border-bottom-color: #90c144

  &:first-child
    +border-left-radius(18px)

  &:last-child
    +border-right-radius(18px)

.bookmarks
  text-align: center
  float: right

.delete-bookmark-img
  background: url('/images/ui/delete-bookmark.png') center no-repeat 
  width: 10px
  height: 10px

.save-bookmark-error
  display: none
  color: red
  width: 170px
  text-align: center
