%g:render( template="/timeline/tabs" model="${[needStep: savedSettings.step, tabsRole: "timeline-tabs"]}" )
.content-header.is-graphic-header.is-first.is-with-tabs
  %h2.content-title
    Downloads for
    %a.content-title-part.is-free( href="#" role="open-popup" ) free
    .popup( role="popup" )
      .popup-tri
      %ul.popup-list.is-striked( role="popup-selector timeline-popup-selector" )
        %li.popup-item.is-active( role="item" ) Cut The Rope SD
        %li.popup-item.is-active( role="item" ) Cut The Rope HD
        %li.popup-item.is-active( role="item" ) CTR: Experiments SD
        %li.popup-item( role="item" ) CTR: Experiments HD
        %li.popup-item.is-active( role="item" ) CTR: Comics SD
        %li.popup-item( role="item" ) CTR: Comics HD
        %li.popup-item( role="item" ) CTR: Holiday Gift SD
        %li.popup-item.is-active( role="item" ) CTR: Holiday Gift HD
    and
    %a.content-title-part.is-paid( href="#" role="open-popup" ) paid
    .popup( role="popup" )
      .popup-tri
      %ul.popup-list.is-striked( role="popup-selector timeline-popup-selector" )
        %li.popup-item.is-active( role="item" ) Cut The Rope SD
        %li.popup-item.is-active( role="item" ) Cut The Rope HD
        %li.popup-item.is-active( role="item" ) CTR: Experiments SD
        %li.popup-item( role="item" ) CTR: Experiments HD
        %li.popup-item.is-active( role="item" ) CTR: Comics SD
        %li.popup-item( role="item" ) CTR: Comics HD
        %li.popup-item( role="item" ) CTR: Holiday Gift SD
        %li.popup-item.is-active( role="item" ) CTR: Holiday Gift HD
    apps
    and
    %span.content-title-part.is-revenue total revenue
  .content-header-selectors
    %a.content-header-selector( href="#" role="open-popup" )
      %span.content-header-selector-label.inner-link( role="text" ) for all countries
      %span.content-header-selector-icon.is-list
        %span.content-header-selector-img
    .popup( role="popup" )
      .popup-tri
      %ul.popup-list.is-striked( role="popup-selector countries-selector timeline-popup-selector" )
        %li.popup-item.is-active( role="item" ) UK
        %li.popup-item.is-active( role="item" ) Germany
        %li.popup-item.is-active( role="item" ) USA
        %li.popup-item( role="item" ) Russia
        %li.popup-item.is-active( role="item" ) Czech
        %li.popup-item( role="item" ) Austria
        %li.popup-item( role="item" ) China
        %li.popup-item.is-active( role="item" ) Indonesia
    %a.content-header-selector( href="#" role="period-selector timeline-period-selector" data-from="${filterData.formattedDateFrom}" data-to="${filterData.formattedDateTo}" )
      %span.content-header-selector-label.inner-link( role="text" ) ${filterData.formattedFromToString}
      %span.content-header-selector-icon.is-cal
        %span.content-header-selector-img
  .content-header-options
    %a.inner-link.settings-link( href="#" role="open-settings " )
      Settings
    .export-links
      %span.export-links-title Export
      %a.export-link( href="#" ) XLS
      %a.export-link( href="#" ) CSV
.graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/downloads_for_apps.js" )
.content-header.is-graphic-header
  %h2.content-title Inapps downloads and total revenue
.graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/inapps_downloads.js" )
.content-header.is-graphic-header
  %h2.content-title Updates
.graphic-container( role="graphic-container" data-id="downloads_for_apps" data-source="/js/data/updates.js" )