<%@page import="zeptostats.CompareColumn" %>
<%@page import="zeptostats.CompareColumnDependence" %>
.settings-window.is-overlay-over( role="settings" style="display:none;" )
  .settings-tri
  .settings-content
    .timeline-settings-tip
      %span.timeline-settings-tip-wrapper
        Mark candy to see comparasion by this parameter
    %ul.timeline-settings( role="axis-choose" )
      %li.timeline-setting-column.is-versions( role="filter" data-filter="${CompareColumnDependence.VERSION.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.VERSION}" data-title="${CompareColumn.VERSION.title}" class="${CompareColumn.VERSION.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.VERSION.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.VERSION.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.VERSION.hasDependentFilter()}" )
          %g:each( in="${filterData.gameTypes}" var="gameType" )
            <% def isStriked = savedSettings.unnecessaryGameTypeIds?.contains(gameType.id) %>
            %li.timeline-setting.is-switcher( role="setting switcher" data-id="${gameType.id}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}") ${gameType.name}
      %li.timeline-setting-column.is-style( role="filter" data-filter="${CompareColumnDependence.STYLE.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.STYLE}" data-title="${CompareColumn.STYLE.title}" class="${CompareColumn.STYLE.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.STYLE.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.STYLE.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.STYLE.hasDependentFilter()}" )
          %g:each( in="${filterData.resolutions}" var="resolution" )
            <% isStriked = savedSettings.unnecessaryResolutionIds?.contains(resolution.id) %>
            %li.timeline-setting.is-switcher( role="setting switcher" data-id="${resolution.id}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}") ${resolution.name}
      %li.timeline-setting-column.is-regions-and-countries( role="filter" data-filter="${CompareColumnDependence.COUNTRY.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.REGION}" data-title="${CompareColumn.REGION.title}" class="${CompareColumn.REGION.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.REGION.title}
          &
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.COUNTRY}" data-title="${CompareColumn.COUNTRY.title}" class="${CompareColumn.COUNTRY.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.COUNTRY.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.COUNTRY.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.COUNTRY.hasDependentFilter()}" )
          %g:each( in="${filterData.countries}" var="regionCountries" )
            %li.timeline-setting.is-subtree( role="tree" )
              %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
              .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) ${regionCountries.value.first().regionName}
              %ul.timeline-setting-subtree( role="subtree" )
                %g:each( in="${regionCountries.value}" var="country")
                  <% isStriked = savedSettings.unnecessaryCountryIds?.contains(country.id) %>
                  %li.timeline-setting.is-switcher( role="setting" data-id="${country.id}"  data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}")
                    %span.timeline-setting-subtree-wrapper( role="switcher") ${country.name}
      %li.timeline-setting-column.is-os-and-stores( role="filter" data-filter="${CompareColumnDependence.STORE.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.OS}" data-title="${CompareColumn.OS.title}" class="${CompareColumn.OS.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.OS.title}
          &
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.STORE}" data-title="${CompareColumn.STORE.title}" class="${CompareColumn.STORE.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.STORE.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.STORE.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.STORE.hasDependentFilter()}" )
          %g:each( in="${filterData.stores}" var="osStores" )
            %li.timeline-setting.is-subtree.is-open( role="tree" )
              %a.timeline-setting-subtree-link( href="#" role="open-subtree" )
              .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) ${osStores.value.first().platformName}
              %ul.timeline-setting-subtree( role="subtree" )
                %g:each( in="${osStores.value}" var="store" )
                  <% isStriked = savedSettings.unnecessaryStoreIds?.contains(store.id) %>
                  %li.timeline-setting.is-switcher( role="setting" data-id="${store.id}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}")
                    %span.timeline-setting-subtree-wrapper( role="switcher") ${store.name}
      %li.timeline-setting-column.is-required-product-types( role="filter" data-filter="${CompareColumnDependence.REQUIRED_PRODUCT_TYPE.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-checkbox( href="#" role="candy" data-id="${CompareColumn.REQUIRED_PRODUCT_TYPE}" data-title="${CompareColumn.REQUIRED_PRODUCT_TYPE.title}" class="${CompareColumn.REQUIRED_PRODUCT_TYPE.isIn(savedSettings.compareColumns) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.REQUIRED_PRODUCT_TYPE.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.REQUIRED_PRODUCT_TYPE.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.REQUIRED_PRODUCT_TYPE.hasDependentFilter()}" )
          %g:each( in="${filterData.requiredProductTypes}" var="requiredProductType" )
            <% isStriked = savedSettings.unnecessaryRequiredProductTypeIds?.contains(requiredProductType) %>
            %li.timeline-setting.is-switcher( role="setting switcher" data-id="${requiredProductType}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}") ${requiredProductType}
      %li.timeline-setting-column.is-metaskus-and-skus( role="filter" data-filter="${CompareColumnDependence.METASKU.filterColumn}" )
        .timeline-setting-column-title( role="candy-group" )
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.METASKU}" data-title="${CompareColumn.METASKU.title}" class="${CompareColumn.METASKU.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.METASKU.title}
              &
          %a.candy.is-with-text.is-radio( href="#" role="candy" data-id="${CompareColumn.SKU}" data-title="${CompareColumn.SKU.title}" class="${CompareColumn.SKU.equals(savedSettings.compareColumn) ? "is-active" : ""}")
            .candy-text( role="candy-text" )
              ${CompareColumn.SKU.title}
        %ul.timeline-setting-tree( role="whole-tree" data-top-parent-filter="${CompareColumnDependence.SKU.getTopParentFilterColumn()}" data-dependent-filters-exists="${CompareColumnDependence.SKU.hasDependentFilter()}" )
          %g:each( in="${filterData.games}" var="gameGroup" )
            %li.timeline-setting.is-switcher( role="tree" )
              .timeline-setting-subtree-title-wrapper( role="tree-switcher" ) ${gameGroup.value.first().metaSkuName}
              %ul.timeline-setting-subtree( role="subtree" )
                %g:each( in="${gameGroup.value}" var="game" )
                  <% isStriked = savedSettings.unnecessaryGameIds?.contains(game.id) %>
                  %li.timeline-setting.is-switcher( role="setting" data-id="${game.id}" data-strike-state="${isStriked ? "is-striked" : ""}" class="${isStriked ? "is-striked" : ""}")
                    %span.timeline-setting-subtree-wrapper( role="switcher" title="${game.fullName}" ) ${game.title}
    %g:render( template="/timeline/settingsFooter" model="${[savedSettings: savedSettings]}" )