%ul.timeline-settings-footer( role="display" )
  %li.timeline-settings-row( role="optionGroup" )
    %span.timeline-row-setting( role = "option" class='${savedSettings.ifNeedAppsDownloads ? "is-active" : ""}')
      %label
        %g:if( test="${savedSettings.ifNeedAppsDownloads}" )
          %input( type="checkbox" role="checkbox apps-downloads"  checked="checked" )
        %g:else
          %input( type="checkbox" role="checkbox apps-downloads" )
        Downloads and
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedAppsRevenue ? "is-active" : ""}')
      %label
        %g:if( test="${savedSettings.ifNeedAppsRevenue}" )
          %input( type = "checkbox" name = "" value = "" role = "checkbox apps-revenue" checked="checked")
        %g:else
          %input( type = "checkbox" name = "" value = "" role = "checkbox apps-revenue")
        revenues for all apps:
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedAppsCompare ? "is-active" : ""}')
      compared by
      %a.candy.is-with-text( href = "#" role = "candy compared-by-candy apps-candy" class = '${savedSettings.ifNeedAppsCompare ? "is-active" : ""}')
        ${savedSettings.compareColumn?.title}
  %li.timeline-settings-row( role="optionGroup" )
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedInappsDownloads ? "is-active" : ""}')
      %label
        %g:if( test="${savedSettings.ifNeedInappsDownloads}" )
          %input( type = "checkbox" name = "" value = "" role = "checkbox inapps-downloads" checked="checked")
        %g:else
          %input( type = "checkbox" name = "" value = "" role = "checkbox inapps-downloads" )
        Downloads and
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedInappsRevenue ? "is-active" : ""}')
      %label
        %g:if( test="${savedSettings.ifNeedInappsRevenue}" )
          %input( type = "checkbox" name = "" value = "" role = "checkbox inapps-revenue" checked="checked" )
        %g:else
          %input( type = "checkbox" name = "" value = "" role = "checkbox inapps-revenue")
        revenues for all inapps
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedInappsCompare ? "is-active" : ""}')
      compared by
      %a.candy.is-with-text( href = "#" role = "candy compared-by-candy inapps-candy" class = '${savedSettings.ifNeedInappsCompare ? "is-active" : ""}')
        ${savedSettings.compareColumn?.title}
  %li.timeline-settings-row( role="optionGroup" )
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedUpdates ? "is-active" : ""}')
      %label
        %g:if( test="${savedSettings.ifNeedUpdates}" )
          %input( type = "checkbox" name = "" value = "" role = "checkbox updates" checked="checked" )
        %g:else
          %input( type = "checkbox" name = "" value = "" role = "checkbox updates" )
        Download for update:
    %span.timeline-row-setting( role = "option" class = '${savedSettings.ifNeedUpdatesCompare ? "is-active" : ""}')
      compared by
      %a.candy.is-with-text( href = "#" role = "candy compared-by-candy updates-candy" class = '${savedSettings.ifNeedUpdatesCompare ? "is-active" : ""}')
        ${savedSettings.compareColumn?.title}
  %li.timeline-row-buttons
    %button.button.is-white( role="save button timeline-settings-save" ) Save