<%@page import="zeptostats.Step" %>
.tabs-holder
  .tabs.is-period-tabs( role="tabs ${tabsRole}" )
    %g:if( test="${Step.DAILY.equals(needStep)}" )
      %a.tab.is-current( href="#" role="tab" data-id="${Step.DAILY}" )
        ${Step.DAILY.title}
    %g:else
      %a.tab( href="#" role="tab" data-id="${Step.DAILY}" )
        ${Step.DAILY.title}
    %g:if( test="${Step.WEEKLY.equals(needStep)}" )
      %a.tab.is-current( href="#" role="tab" data-id="${Step.WEEKLY}" )
        ${Step.WEEKLY.title}
    %g:else
      %a.tab( href="#" role="tab" data-id="${Step.WEEKLY}" )
        ${Step.WEEKLY.title}
    %g:if( test="${Step.MONTHLY.equals(needStep)}" )
      %a.tab.is-current( href="#" role="tab" data-id="${Step.MONTHLY}" )
        ${Step.MONTHLY.title}
    %g:else
      %a.tab( href="#" role="tab" data-id="${Step.MONTHLY}" )
        ${Step.MONTHLY.title}
  .tabs.bookmarks( role="tabs ${tabsRole} bookmarks" data-role="${tabsRole}")
    %a.tab( href="#" role="open-popup open-bookmarks-popup" )
      Bookmarks
    .popup( role="popup open-bookmark-list" )
      .popup-tri
      %table.popup-table
        %tbody.popup-table-body( role="popup-selector bookmark-list" )
          %g:each( in="${bookmarks}" )
            %tr.popup-table-row( data-id="${it.id}" role="bookmark-row" )
              %td.popup-table-cell( role="bookmark-item" ) ${it.name}
              %td.delete-bookmark-img( role="bookmark-delete" )
    %a.tab( href="#" role="open-popup" ) 
      +
    .popup( role="popup save-bookmark" )
      .popup-tri.save-bookmark
      %table.popup-table
        %tbody.popup-table-body( role="popup-selector" )
          %tr.popup-table-row( role="item" )
            %td.popup-table-cell 
              %input( type="text" size="20" placeholder="Save new bookmark as..." role="bookmark-new-name" )
              .save-bookmark-error( role="save-bookmark-error" ) Name of bookmark should not be empty and should be unique
            %td
              %input( type="button" value="Save" role="save-button" )
