%html
  %head
    %title Timeline
    %meta(name="layout" content="main")
    %parameter(name="currentMenuItem" value="timeline")
  %body
    .graphs
      %g:render( template="/timeline/graphs" model="${[filterData: filterData, savedSettings: savedSettings]}" )
    %g:render( template="/timeline/settings" model="${[filterData: filterData, savedSettings: savedSettings]}" )

