%html
  %head
    %title Login
    %meta(name="layout" content="main")
  %body
    .login( role="login" )
      .login-logo
      %g:if( test='${flash.message}' )
        .login_message ${flash.message}
      %form.login-form( action="${postUrl}" method="POST" )
        %fieldset.login-form-fields
          %label.login-form-label
            %span.login-form-label-name
              Login
            %input.login-form-input( name='j_username' )
          %label.login-form-label
            %span.login-form-label-name
              Password
            %input.login-form-input( type="password" name='j_password' )
          %input.login-form-submit( type="submit" value="Login" )
